*.swp
*.gem
.tags
/.bundle
/.vendor
/Gemfile.lock
/.vscode
/.idea

.dappfile.render.yml
.dappfile.render.yaml
dappdeps-toolchain.tar
dappdeps/*/omnibus/build/
/dappfile-yml
/dappfile-yml.sha

/osx/.vagrant
/.vendor_osx
