*.swp
*.gem
.tags
/.vscode
/.idea

/docs/vendor
/docs/.ruby-version

/stapel/*/omnibus/build
/stapel/*/omnibus/vendor
/stapel/*/omnibus/.bundle
/stapel/*/werf-stapel-toolchain.tar

/pkg/build/builder/ansible/pylogger.h
/pkg/build/builder/ansible/pylogger.so
*.pyc

/tests/integration/ansible/**/app
/tests/integration/three-way-merge/**/main
/bin
/coverage
/test/**/*.test

/docs/\.jekyll-cache/
/docs/site/backend/root/
/docs/site/backend/trdl/

/.github/trdl/node_modules
/.github/trdl/src/**/*.js
/.github/trdl/lib
main
buildah-test

/scripts/images/image

*.DS_Store
._*

/Taskfile.ya?ml
/build
/dist
/.github/actions/get-commit-message/node_modules/
