*.swp
*.gem
.tags
/.vscode
/.idea
/.run
/.help
.env
cmd/werf/werf

/docs/vendor
/docs/.ruby-version

/stapel/*/omnibus/build
/stapel/*/omnibus/vendor
/stapel/*/omnibus/.bundle
/stapel/*/werf-stapel-toolchain.tar

/pkg/build/builder/ansible/pylogger.h
/pkg/build/builder/ansible/pylogger.so
*.pyc

/bin
/coverage
/test/**/*.test
/integration/**/*.test

/docs/\.jekyll-cache/
/docs/site/backend/root/
/docs/site/backend/trdl/

/.github/trdl/node_modules
/.github/trdl/src/**/*.js
/.github/trdl/lib
main
buildah-test

/scripts/images/image

*.DS_Store
._*

/Taskfile.yaml
/build
/dist
/node_modules/
/.github/actions/get-commit-message/node_modules/
.task
/playground/s3_registry/data
