{{define "group channel"}}

{{- $group_name := index . 0}}
{{- $channel_name := index . 1 }}
{{- $distro := index . 2}}

image: "{{ $group_name }}-{{ $channel_name }}"
dockerfile: ./artifact.Dockerfile
dependencies:
  - image: "trdl-{{ $group_name }}-{{ $channel_name }}"
    imports:
      - type: ImageName
        targetBuildArg: source_image
  - image: "{{ $distro }}"
    imports:
      - type: ImageName
        targetBuildArg: distro_image
{{- end}}

{{ define "group channel distro" }}

{{- $group_name := index . 0}}
{{- $channel_name := index . 1 }}
{{- $distro := index . 2}}
{{- $distro_name := index . 3}}

image: "{{ $group_name }}-{{ $channel_name }}-{{ $distro }}"
dockerfile: ./artifact.Dockerfile
dependencies:
  - image: "trdl-{{ $group_name }}-{{ $channel_name }}"
    imports:
      - type: ImageName
        targetBuildArg: source_image
  - image: "{{ $distro_name }}"
    imports:
      - type: ImageName
        targetBuildArg: distro_image
args:
  source: "/usr/local/bin/werf-{{ $group_name }}-{{ $channel_name }}"
  destination: "/usr/local/bin/werf"
{{- end }}

{{- define "group distro"}}

{{- $group_name := index . 0}}
{{- $default_channel := index . 1 }}
{{- $distro := index . 2}}
{{- $distro_name := index . 3}}

image: "{{ $group_name }}-{{ $distro }}"
dockerfile: ./artifact.Dockerfile
dependencies:
  - image: "trdl-{{ $group_name }}-{{ $default_channel }}"
    imports:
      - type: ImageName
        targetBuildArg: source_image
  - image: "{{ $distro_name }}"
    imports:
      - type: ImageName
        targetBuildArg: distro_image
{{- end }}

{{ define "latest" }}

{{- $default_group := index . 0}}
{{- $default_channel := index . 1 }}
{{- $distro := index . 2}}

image: latest
dockerfile: ./artifact.Dockerfile
dependencies:
  - image: trdl-{{ $default_group }}-{{ $default_channel }}
    imports:
      - type: ImageName
        targetBuildArg: source_image
  - image: "{{ $distro }}"
    imports:
      - type: ImageName
        targetBuildArg: distro_image
{{- end }}

{{- define "group" }}

{{- $group_name := index . 0}}
{{- $default_channel := index . 1 }}
{{- $distro := index . 2}}

image: "{{ $group_name }}"
dockerfile: ./artifact.Dockerfile
dependencies:
  - image: "trdl-{{ $group_name }}-{{ $default_channel }}"
    imports:
      - type: ImageName
        targetBuildArg: source_image
  - image: "{{ $distro }}"
    imports:
      - type: ImageName
        targetBuildArg: distro_image
{{- end }}