{{- define "artifact" }}
  {{- $image_name := index . 0 }}
  {{- $group_name := index . 1 }}
  {{- $channel_name := index . 2 }}
  {{- $distro_name := index . 3 }}
  {{- $ctx := index . 4 }}
  {{- $source_image_name := (printf "trdl-%s-%s" $ctx.App $ctx.ChannelVersion) }}
  {{- $base_image_name := (printf "%s-%s" $ctx.App $distro_name) }}

---
image: "{{ $image_name }}"
dockerfile: ./dockerfile/artifact.Dockerfile
dependencies:
  - image: "{{ $source_image_name }}"
    imports:
      - type: ImageName
        targetBuildArg: source_image
  - image: "{{ $base_image_name }}"
    imports:
      - type: ImageName
        targetBuildArg: base_image
{{- end }}

{{ define "latest" }}
{{- $image_name := "latest" }}
{{- include "artifact" (list $image_name $.DefaultGroupName $.DefaultChannelName $.DefaultDistroName $) }}
{{- end }}

{{- define "<group>" }}
{{- $image_name := $.GroupName }}
{{- include "artifact" (list $image_name $.GroupName $.DefaultChannelName $.DefaultDistroName $) }}
{{- end }}

{{ define "<group>-<channel>" }}
{{- $image_name := (printf "%s-%s" $.GroupName $.ChannelName) }}
{{- include "artifact" (list $image_name $.GroupName $.ChannelName $.DefaultDistroName $) }}
{{- end}}

{{- define "<group>-<distro>" }}
{{- $image_name := (printf "%s-%s" $.GroupName $.DistroName) }}
{{- include "artifact" (list $image_name $.GroupName $.DefaultChannelName $.DistroName $) }}
{{- end }}

{{ define "<group>-<channel>-<distro>" }}
{{- $image_name := (printf "%s-%s-%s" $.GroupName $.ChannelName $.DistroName) }}
{{- include "artifact" (list $image_name $.GroupName $.ChannelName $.DistroName $) }}
{{- end }}

{{ define "<channel_version>" }}
{{- $image_name := $.replacedVersion }}
{{- include "artifact" (list $image_name $.GroupName $.ChannelName $.DefaultDistroName $) }}
{{- end }}

{{ define "<channel_version>-<distro>" }}
{{- $image_name := (printf "%s-%s" $.replacedVersion $.DistroName) }}
{{- include "artifact" (list $image_name $.GroupName $.ChannelVersion $.DistroName $) }}
{{- end }}