{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ template ".helm.serviceAccountName" . }}
  labels:
{{ include ".helm.labels" . | indent 4 }}
{{- end -}}
