{{- $refs := list $.Values.global.github_ref }}
{{- if eq $.Values.werf.env "test" }}
{{- $refs = concat $refs (list "v2.0.3" "v1.2.294+fix1") }}
{{- end }}

{{- range $_, $ref := $refs }}

{{- $version := splitList "/" $ref | last }}
{{- $versionDNSNormalized := printf "%s" $version | lower | replace "+" "-plus-" | replace "_" "-u-" | replace "." "-dot-" }}

{{- $versionURLNormalized := "" }}
{{- if eq $version "main" }}
{{- $versionURLNormalized = "latest" }}
{{- else }}
{{- $versionURLNormalized = printf "%s" $version | lower | replace "+" "-plus-" | replace "_" "-u-" }}
{{- end }}

{{- $host := pluck $.Values.werf.env $.Values.host | first | default $.Values.host._default  }}
{{- if hasPrefix "review" $.Values.werf.env }}
{{- $host = printf "%s.%s" $.Values.werf.env (pluck "dev" $.Values.host | first | default $.Values.host._default ) | lower }}
{{- end }}
{{- if eq $.Values.werf.env "production" }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $.Chart.Name }}-{{ $versionDNSNormalized }}
  annotations:
    nginx.ingress.kubernetes.io/configuration-snippet: |
      proxy_set_header X-Original-URI $request_uri;
      ssi on;
      ssi_silent_errors on;
{{ include "rewrites" $ | indent 6 }}
    nginx.ingress.kubernetes.io/from-to-www-redirect: "true"
spec:
  ingressClassName: {{ pluck $.Values.werf.env $.Values.ingressClassName | first | default $.Values.ingressClassName._default }}
  tls:
  - hosts:
      - {{ $host }}
{{- if eq .Values.werf.env "production" }}
      - ru.{{ $host }}
{{- else }}
      - ru-{{ $host }}
{{- end }}
      - www.{{ $host }}
{{- if eq $.Values.werf.env "production" }}
    secretName: tls-{{ $host }}
{{- else }}
    secretName: {{ pluck .Values.werf.env .Values.ingressSecretName | first | default .Values.ingressSecretName._default }}
{{- end }}
  rules:
  - host: {{ $host }}
    http:
      paths:
      - path: /docs/{{ $versionURLNormalized }}/
        pathType: ImplementationSpecific
        backend:
          service:
            name: {{ $.Chart.Name }}-{{ $versionDNSNormalized }}
            port:
              name: http
      - path: /documentation/{{ $versionURLNormalized }}/
        pathType: ImplementationSpecific
        backend:
          service:
            name: {{ $.Chart.Name }}-{{ $versionDNSNormalized }}
            port:
              name: http
{{- if eq .Values.werf.env "production" }}
  - host: ru.{{ $host }}
{{- else }}
  - host: ru-{{ $host }}
{{- end }}
    http:
      paths:
      - path: /docs/{{ $versionURLNormalized }}/
        pathType: ImplementationSpecific
        backend:
          service:
            name: {{ $.Chart.Name }}-{{ $versionDNSNormalized }}
            port:
              name: http
      - path: /documentation/{{ $versionURLNormalized }}/
        pathType: ImplementationSpecific
        backend:
          service:
            name: {{ $.Chart.Name }}-{{ $versionDNSNormalized }}
            port:
              name: http
{{- else }}

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $.Chart.Name }}-{{ $versionDNSNormalized }}
  annotations:
    nginx.ingress.kubernetes.io/configuration-snippet: |
      proxy_set_header X-Original-URI $request_uri;
      ssi on;
      ssi_silent_errors on;
{{ include "rewrites" $ | indent 6 }}
    nginx.ingress.kubernetes.io/auth-response-headers: X-Auth-Request-User,X-Auth-Request-Email
    nginx.ingress.kubernetes.io/auth-signin: https://$host/dex-authenticator/sign_in
    nginx.ingress.kubernetes.io/auth-url: https://werfio-dex-authenticator.{{ $.Values.werf.namespace }}.svc.cluster.local/dex-authenticator/auth
spec:
  ingressClassName: {{ pluck $.Values.werf.env $.Values.ingressClassName | first | default $.Values.ingressClassName._default }}
  tls:
  - hosts:
      - {{ $host }}
{{- if eq $.Values.werf.env "production" }}
    secretName: tls-{{ $host }}
{{- else }}
    secretName: {{ pluck .Values.werf.env .Values.ingressSecretName | first | default .Values.ingressSecretName._default }}
{{- end }}
  rules:
  - host: {{ $host }}
    http:
      paths:
      - path: /docs/{{ $versionURLNormalized }}/
        pathType: ImplementationSpecific
        backend:
          service:
            name: {{ $.Chart.Name }}-{{ $versionDNSNormalized }}
            port:
              name: http
      - path: /documentation/{{ $versionURLNormalized }}/
        pathType: ImplementationSpecific
        backend:
          service:
            name: {{ $.Chart.Name }}-{{ $versionDNSNormalized }}
            port:
              name: http


---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $.Chart.Name }}-ru-{{ $versionDNSNormalized }}
  annotations:
    nginx.ingress.kubernetes.io/configuration-snippet: |
      proxy_set_header X-Original-URI $request_uri;
      ssi on;
      ssi_silent_errors on;
{{ include "rewrites" $ | indent 6 }}
    nginx.ingress.kubernetes.io/auth-response-headers: X-Auth-Request-User,X-Auth-Request-Email
    nginx.ingress.kubernetes.io/auth-signin: https://$host/dex-authenticator/sign_in
    nginx.ingress.kubernetes.io/auth-url: https://werfio-ru-dex-authenticator.{{ $.Values.werf.namespace }}.svc.cluster.local/dex-authenticator/auth
spec:
  ingressClassName: {{ pluck $.Values.werf.env $.Values.ingressClassName | first | default $.Values.ingressClassName._default }}
  tls:
  - hosts:
{{- if eq .Values.werf.env "production" }}
      - ru.{{ $host }}
{{- else }}
      - ru-{{ $host }}
{{- end }}
{{- if eq $.Values.werf.env "production" }}
    secretName: tls-{{ $host }}
{{- else }}
    secretName: {{ pluck .Values.werf.env .Values.ingressSecretName | first | default .Values.ingressSecretName._default }}
{{- end }}
  rules:
{{- if eq .Values.werf.env "production" }}
  - host: ru.{{ $host }}
{{- else }}
  - host: ru-{{ $host }}
{{- end }}
    http:
      paths:
      - path: /docs/{{ $versionURLNormalized }}/
        pathType: ImplementationSpecific
        backend:
          service:
            name: {{ $.Chart.Name }}-{{ $versionDNSNormalized }}
            port:
              name: http
      - path: /documentation/{{ $versionURLNormalized }}/
        pathType: ImplementationSpecific
        backend:
          service:
            name: {{ $.Chart.Name }}-{{ $versionDNSNormalized }}
            port:
              name: http
{{- end }}

{{- end }}
