body {
  margin: 0;
  min-width: 1260px;
  overflow-y: scroll;
}

.page {
  /* font-family: 'Work Sans', sans-serif; */
  font-family: 'Open Sans', sans-serif;
  line-height: 1.16;
  position: relative;
}

html,
body,
.page {
  height: 100%;
}

.page__content {
  min-height: 100%;
  padding-bottom: 138px;
  margin-bottom: -138px;
  box-sizing: border-box;
}

.page__container {
  width: 1160px;
  margin: 0 auto;
}

.page__btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 56px;
  border-radius: 15px;
  text-decoration: none !important;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

.page__btn_inline {
    display: inline-flex;
}

.page__btn .page__icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 15px;
}

.page__btn_b {
  background-color: #0066ff;
  color: #fff;
}

.page__btn_b:hover {
  color: #0066ff;
  background-color: #fff;
}

.page__btn_w {
  background-color: #ffffff;
  color: #0066ff;
}

.page__btn_w:hover {
  color: #ffffff;
  background-color: #0066ff;
}

.page__btn_w:hover .page__icon {
  filter: brightness(0) invert(100%);
}

.page__btn_o {
  box-sizing: border-box;
  border: 2px solid rgba(0, 102, 255, 0.1);
  color: #0066ff;
}

.page__btn_o:hover {
  border: 2px solid rgba(0, 102, 255, 0.5);
}

.page__btn-group {
  display: flex;
  flex-direction: row;
}

.page__btn-group>* {
  margin-right: 20px;
}

.page__btn_small {
  width: auto;
  height: 28px;
  padding: 0 15px;
  border-radius: 10px;
  text-decoration: none !important;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  box-sizing: border-box;
}

.page__icon {
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.page__icon_slack {
  background-image: url('/images/icons/slack.svg');
}

.page__icon_telegram {
  background-image: url('/images/icons/telegram.svg');
}

.page__icon_twitter {
  background-image: url('/images/icons/twitter.svg');
}

.page__icon_github {
  background-image: url('/images/icons/github.svg');
}

.page__icon_search {
  background-image: url('/images/icons/search.svg');
}

.page__icon_rss {
    background-image: url('/images/icons/rss.svg');
}

.page__icon_discussions {
    background-image: url('/images/icons/discussions.svg');
}

.page__icon_block-title {
  width: 20px;
  height: 20px;
  position: relative;
  top: 2px;
}

.page__icon_text {
  width: 14px;
  height: 14px;
  position: relative;
  top: 2px;
}

.page__icon_link:hover {
  filter: brightness(0);
}

.page__input {
  padding: 0 24px;
  margin: 0;
  box-sizing: border-box;
  height: 56px;
  border-radius: 15px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 56px;
  letter-spacing: -0.3px;
  background: #f7f9ff;
  color: #00122c;
  border: 2px solid rgba(0, 102, 255, 0);
  outline: none;
}

.page__input:hover {
  border: 2px solid rgba(0, 102, 255, 0.4);
}

.page__input:focus,
.page__input:active {
  border: 2px solid rgba(0, 102, 255, 1);
}

.page__input::placeholder {
  color: rgba(0, 18, 44, 0.3);
}

.page__icon_heart {
  background-image: url('/images/icons/heart.png');
}

.intro {
  position: relative;
}

.intro__container {
  height: calc(100vh - 90px);
  min-height: 590px;
  max-height: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.intro__bg {
  z-index: -1;
  position: absolute;
  right: 55%;
  top: 50%;
  margin-top: -800px;
  width: 1331px;
  height: 1785px;
  background-repeat: no-repeat;
  background-image: url('/images/backgrounds/presentation.svg');
}

.intro__row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: flex-start;
}

.intro__row-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.intro__row-item_scheme img {
  width: 100%;
  position: relative;
  right: -100px;
}

.intro__title {
  font-size: 55px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 65px;
  letter-spacing: normal;
  color: #00122c;
  margin: 0 0 30px 0;
}

.intro__subtitle {
  font-size: 26px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #0066FF;
  margin: 0 0 25px 0;
}

.intro__features {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 28px;
  letter-spacing: normal;
  color: rgba(0, 18, 44, 0.75);
}

.intro__features li {
  margin-bottom: 25px;
}

.intro__features li:last-child {
  margin-bottom: 0;
}

.intro__btns {
  margin-top: 35px;
}

.intro__features a {
  color: #0066FF;
  text-decoration: none;
}

.intro__features a:hover {
  text-decoration: underline;
}

.intro-scheme {
  position: absolute;
  width: 100%;
  min-width: 1260px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.intro-scheme__container {
  height: calc(100vh - 90px);
  min-height: 590px;
  max-height: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.intro-scheme__container #intro-animation {
  width: 60%;
  margin-left: auto;
  transform: translateX(15%);
  z-index: 10;
  position: relative;
}

.intro-scheme-dot {
  opacity: 0;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg);
  background: #0066ff;
  position: relative;
  z-index: 9;
}

#presentation-scheme-container {
  width: 100%
}

.presentation__container {
  height: calc(100vh - 90px);
  min-height: 590px;
  max-height: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.presentation__row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: flex-start;
}

.presentation__row-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.presentation__row-item_scheme {
  transform: skew(-10deg);
  padding-bottom: 50px;
}

.presentation__title {
  font-size: 55px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 65px;
  letter-spacing: normal;
  color: #00122c;
  margin: 0 0 30px 0;
}

.presentation__subtitle {
  font-size: 26px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #0066FF;
  margin: 0 0 25px 0;
}

.presentation__features {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 28px;
  letter-spacing: normal;
  color: rgba(0, 18, 44, 0.75);
}

.presentation__features li {
  margin-bottom: 25px;
}

.presentation__features li:last-child {
  margin-bottom: 0;
}

.presentation__features a {
  color: #0066FF;
  text-decoration: none;
}

.presentation__features a:hover {
  text-decoration: underline;
}

/* Animation, initial state */

#presentation-scheme {
  width: 580px;
}

#presentation-scheme g {
  opacity: 1;
}

#presentation-scheme #scheme_step,
#presentation-scheme #scheme_step_2,
#presentation-scheme #scheme_step_3,
#presentation-scheme #scheme_step_connector,
#presentation-scheme #scheme_step_connector_2,
#presentation-scheme #scheme_step_connector_3,
#presentation-scheme #scheme_smart_icon_check,
#presentation-scheme #scheme_smart_icon_check_2 {
    opacity: 0;
}

.presentation-notes {
  width: 45%;
  height: 3900px;
}

.presentation-notes__item-num {
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  background: #0066FF;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.presentation-notes__item-title {
  font-size: 45px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #00122c;
  margin: 17px 0;
}

.presentation-notes__item-text {
  margin: 0 auto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 28px;
  color: rgba(0, 18, 44, 0.75);
}

.presentation-notes__item-text ol {
  padding-left: 20px !important;
}

.presentation-notes__item-text ol li {
  margin-bottom: 10px;
}

#presentation-notes-1 {
  height: 1200px;
}

#presentation-notes-2 {
  height: 1200px;
}

#presentation-notes-3 {
}

.welcome {
  margin-top: 75px;
  min-height: 500px;
  position: relative;
}

.welcome::before {
  content: '';
  display: block;
  z-index: -1;
  position: absolute;
  top: -100px;
  right: 0px;
  width: 830px;
  height: 769px;
  background-position: top right;
  background-repeat: no-repeat;
  background-image: url('/images/backgrounds/welcome.svg');
}

.welcome__content {
  padding-top: 75px;
}

.welcome__title {
  font-size: 55px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 65px;
  letter-spacing: normal;
  color: #00122c;
  margin: 0 0 30px 0;
}

.welcome__title a {
  color: #0066FF;
  text-decoration: none;
}

.welcome__title a:hover {
  text-decoration: underline;
}

.welcome__title span {
  color: #0066FF;
}

.welcome__subtitle {
  font-size: 25px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 40px;
  letter-spacing: normal;
  color: rgba(0, 18, 44, 0.75);
  max-width: 500px;
}

.stats {
  position: relative;
}

/* .stats::before {
  content: '';
  display: block;
  width: 636px;
  height: 818px;
  position: absolute;
  top: -60px;
  left: 0px;
  background-repeat: no-repeat;
  background-image: url('../images/backgrounds/stats.svg');
  background-position: center;
  z-index: 1;
} */

.stats__content {
  position: relative;
  z-index: 2;
  height: 342px;
  border-radius: 10px;
  background: #FFFFFF;
  box-shadow: 0 10px 40px 0 rgba(0, 18, 44, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stats__content::after {
  content: '';
  display: block;
  width: 168px;
  height: 134px;
  position: absolute;
  top: -20px;
  right: -20px;
  background-repeat: no-repeat;
  background-image: url('/images/illustrations/stats.svg');
  z-index: 3;
}

.stats__title {
  font-size: 36px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #00122c;
  margin-bottom: 55px;
}

.stats__list {
  box-sizing: border-box;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.stats__list-item {
  width: 280px;
}

.stats__list-item-num {
  color: #0066FF;
  font-size: 56px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: 10px;
}

.stats__list-item-title {
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.3px;
  text-align: center;
  color: #00122c;
  font-size: 24px;
  font-weight: bold;
}

.stats__list-item-subtitle {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.3px;
  text-align: center;
  color: #00122c;
}

.features {
  position: relative;
  padding-top: 136px;
  padding-bottom: 100px;
  background-repeat: no-repeat;
  background-position: center 120px;
  background-image: url('/images/backgrounds/features.svg');
  z-index: 2;
}

.features__list {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.features__list-item {
  width: 450px;
  margin-bottom: 130px;
}

.features__list-item:nth-child(2n) {
  position: relative;
  top: 150px;
}

.features__list-item-icon {
  display: block;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  margin: 0 0 20px -25px;
}

.features__list-item-icon_lifecycle {
  background-image: url('/images/icons/feature-lifecycle.svg');
}

.features__list-item-icon_easy {
  background-image: url('/images/icons/feature-easy.svg');
}

.features__list-item-icon_config {
  background-image: url('/images/icons/feature-config.svg');
}

.features__list-item-icon_size {
  background-image: url('/images/icons/feature-size.svg');
}

.features__list-item-icon_helm {
  background-image: url('/images/icons/feature-helm.svg');
}

.features__list-item-icon_debug {
  background-image: url('/images/icons/feature-debug.svg');
}

.features__list-item-icon_kubernetes {
  background-image: url('/images/icons/feature-kubernetes.svg');
}

.features__list-item-title {
  font-size: 45px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #00122c;
  margin-bottom: 17px;
}

.features__list-item-title span {
  color: #0066FF;
}

.features__list-item-text {
  margin: 0 auto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 28px;
  color: rgba(0, 18, 44, 0.75);
}

.features__list-item-text ul {
    margin-top: 10px;
  }

.features__list-item-description {
  font-size: 25px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 40px;
  letter-spacing: normal;
  color: rgba(0, 18, 44, 0.75);
}

.features__list-item-text a,
.features__list-item-description a {
  color: #0066FF;
  text-decoration: none;
}

.features__list-item-text a:hover,
.features__list-item-description a:hover {
  text-decoration: underline;
}

.features__list-item_special {
  position: relative;
}

.features__list-item_special:before {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  top: -120px;
  left: -77px;
  width: 405px;
  height: 351px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('/images/backgrounds/feature_special.svg');
}

.features__list-item_special:after {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  bottom: -120px;
  left: 250px;
  width: 94px;
  height: 94px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('/images/backgrounds/feature_special2.svg');
}

.reliability {
    margin: 125px 0;
}

.reliability__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.reliability__column {
    width: 50%;
}

.reliability__column_image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.reliability__image {
    width: 565px;
    height: 308px;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
    background-image: url('/images/backgrounds/intro.svg');
}

.reliability__title {
    font-size: 45px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 60px;
    letter-spacing: normal;
    color: #00122c;
    margin-bottom: 25px;
}

.community {
  position: relative;
}

.community__content {
  position: relative;
  z-index: 2;
  height: 342px;
  background: #0066FF;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.community::before {
  content: '';
  display: block;
  width: 522px;
  height: 834px;
  position: absolute;
  top: -220px;
  right: 0px;
  background-repeat: no-repeat;
  background-image: url('/images/backgrounds/community.svg');
  background-position: center;
  z-index: -1;
}

.community__title {
  width: 100%;
  font-size: 36px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-bottom: 21px;
  position: relative;
}

.community__title::before {
  content: '';
  display: block;
  width: 133px;
  height: 206px;
  position: absolute;
  left: 62px;
  top: -90px;
  background-repeat: no-repeat;
  background-image: url('/images/illustrations/community.svg');
  background-position: center;
}

.community__title::after {
  content: '';
  display: block;
  width: 133px;
  height: 140px;
  position: absolute;
  right: -50px;
  top: -140px;
  background-repeat: no-repeat;
  background-image: url('/images/illustrations/community2.svg');
  background-position: center;
}

.community__subtitle {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.3px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 64px;
}

.community__btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.community__btn {
  margin: 0 20px;
}

.documentation {
  position: relative;
  z-index: 3;
  padding-top: 155px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.documentation__image {
  width: 260px;
  height: 147px;
  background-repeat: no-repeat;
  background-position: top right;
  background-image: url('/images/illustrations/documentation.svg');
}

.documentation__info {
  width: 560px;
}

.documentation__info-title {
  font-size: 36px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #00122c;
  margin-bottom: 25px;
}

.documentation__info-text {
  opacity: 0.7;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.3px;
  color: #00122c;
}

.documentation__info-text a {
  color: #0166FF;
  text-decoration: none;
}

.documentation__info-text a:hover {
  text-decoration: underline;
}

.documentation__btn {
  margin-bottom: 25px;
}

.footer {
  width: 1160px;
  margin: 0 auto;
  padding-top: 36px;
  padding-bottom: 66px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}

.footer__credits {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: -0.3px;
  color: #00122c;
}

.footer__credits a {
  color: #0166FF;
  text-decoration: none;
}

.footer__credits a:hover {
  text-decoration: underline;
}

.footer__credits .page__icon_heart {
  display: inline-block;
  width: 12px;
  height: 12px;
}

.footer__github {
  margin-left: 130px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer__github-icon {
  display: block;
  width: 32px;
  height: 32px;
  filter: brightness(0);
}

.footer__github-counter {
  margin-left: 16px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 15px;
  border-radius: 10px;
  border: solid 2px #f3f8ff;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #00122c;
  text-decoration: none;
}

.footer__github-counter::after {
  content: '';
  height: 32px;
  width: 32px;
  margin-left: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('/images/icons/star.svg');
  border-left: solid 2px #f3f8ff;
}

.footer__github-counter:hover,
.footer__github-counter:hover::after {
  border-color: rgba(0, 102, 255, 0.5);
}

.footer__github-counter:hover {
  text-decoration: none;
}

.footer__gen {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: -0.3px;
  color: #00122c;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  background: #eef2ff;
  white-space: nowrap;
  border-radius: 4px;
}

.popup {
  display: none;
  z-index: 1000;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(50, 50, 50, 0.7);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.popup.active {
  display: flex;
}

.popup__content {
  position: relative;
  box-sizing: border-box;
  width: 600px;
  border-radius: 10px;
  padding: 50px;
  background: #0166FF;
  box-shadow: 0 10px 40px 0 rgba(0, 18, 44, 0.1);
  text-align: center;
  color: #fff;
}

.popup__content:before {
  content: '';
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('/images/icons/slack.svg');
  background-size: contain;
  filter: brightness(0) invert(100%);
  position: absolute;
  top: -30px;
  left: -30px;
}

.popup__content:after {
  content: '';
  display: block;
  width: 133px;
  height: 140px;
  position: absolute;
  right: -60px;
  bottom: -100px;
  background-repeat: no-repeat;
  background-image: url('/images/illustrations/community2.svg');
  background-position: center;
}

.popup__text {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  margin-bottom: 15px;
}

.popup__title {
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 30px;
}

.popup__subtitle {
  font-size: 20px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 5px;
}

.popup__title a {
  color: #FFF;
  opacity: 0.7;
  text-decoration: none;
}

.popup__title a:hover {
  text-decoration: underline;
}

.popup__btn {
  width: auto;
  margin-bottom: 30px;
}

.popup__close {
  position: absolute;
  top: 12.5px;
  right: 12.5px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

.popup__close:hover {
  color: #000;
}

.error-image {
  position: absolute;
  bottom: 150px;
  right: 0px;
  z-index: -1;
}

.error-image img {
  width: 640px;
}

.tooltip {
  font-family: 'Open Sans', sans-serif;
  background: #333;
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 4px;
}

.news-and-updates {
  position: fixed;
  z-index: 420;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);

  border-radius: 10px;
  background: #FFFFFF;
  box-shadow: 0 10px 40px 0 rgba(0, 18, 44, 0.1);

  box-sizing: border-box;
  width: 1160px;
  padding: 20px 25px;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.news-and-updates__active {
  opacity: 1;
  pointer-events: all;
}

.news-and-updates__block {
  width: 45%;
}

.news-and-updates__title {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #0066FF;
}

.news-and-updates__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.news-and-updates__item-link {
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  color: #00122c;
  transition: all 0.3s ease-in-out;
}

.news-and-updates__item-link:hover {
  color: #0066FF;
}

.news-and-updates__item-sub {
  color: #00122c;
  font-size: 10px;
  line-height: 14px;
  opacity: 0.7;
  margin-top: 2px;
}