.overview__title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 65px;
  margin: 0 0 40px 0;
}

.overview__row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.overview__row .overview__step {
  width: 400px;
}

.overview__step {
  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px 20px 30px 20px;
  margin-bottom: 40px;
}

.overview__step-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.overview__step-num {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #000;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

.overview__step-time {
  padding: 5px 7px;
  background: rgba(0, 102, 255, 0.1);
  border-radius: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 100%;
}

.overview__step-title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 20px;
}

.overview__step-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.overview__step-actions .overview__step-action {
  margin-right: 20px;
}

.overview__step-action {
  display: inline-block;
  height: 30px;
  padding: 0 15px;
  border-radius: 10px;
  text-decoration: none !important;
  font-size: 14px;
  line-height: 30px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  box-sizing: border-box;
  background: #0066ff;
  color: #fff !important;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.overview__step-action:hover {
  color: #0066ff !important;
  background: #fff;
}

.overview__step-info {
  margin-top: 20px;
  line-height: 1.5;
}

.overview__frameworks {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.overview__framework {
  width: 30%;
  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px 20px 30px 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.overview__framework-logo {
}

.overview__framework-logo_disabled {
    filter: grayscale(1);
    opacity: 0.55;
    transition: all 1000ms ease;
}

.overview__framework:hover .overview__framework-logo {
  filter: grayscale(0);
  opacity: 1;
}

.overview__framework-action img.flip-horizontal {
    transform: scaleX(-1);
}

.overview__framework-action {
  display: inline-block;
  height: 30px;
  padding: 0 15px;
  border-radius: 10px;
  text-decoration: none !important;
  font-size: 14px;
  line-height: 30px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  box-sizing: border-box;
  background: #0066ff;
  color: #fff !important;
  margin-top: 20px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.overview__framework-action.disabled {
  background: rgba(0,18,44,0.35);
}

.overview__framework-action:not(.disabled):hover {
  color: #0066ff !important;
  background: #fff;
}