ul#mysidebar ul ul li > a {
  padding-left: 10px;
  background-color: #f3f3f3;
  color: black;
}

ul#mysidebar ul ul li.active > a, ul#mysidebar ul ul li > a:hover {
  background-color: #8D8D8D;
  color: #f5f5f5;
}
