.breadcrumbs {
    opacity: 0.3;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: -0.3px;
    color: #00122c;
    list-style-type: none;
    margin: 25px 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.breadcrumbs li:not(:last-child)::after {
    content: '/';
    margin: 0 15px;
}

.breadcrumbs li a {
    color: #00122c;
    text-decoration: none;
}

.breadcrumbs li a:hover {
    text-decoration: underline;
}

.layout-sidebar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.layout-sidebar__sidebar {
    width: 260px;
    margin-right: 40px;
}

.layout-sidebar__content {
    width: 860px;
}

.sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar__item {
    margin-bottom: 18px;
    position: relative;
}

.sidebar__item > a {
    color: #000;
    text-decoration: none;
}

.sidebar__item.active > a {
    color: #0066FF;
}

.sidebar__item.secondary > a {
    color: #939fb1;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.26px;

}

.sidebar__item > a:hover {
    color: #0066FF;
}

.sidebar__item_parent > a {

}

.sidebar__item_parent > a:after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url('../images/icons/dropdown.svg');
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 5px;
}

.sidebar__item_parent.active > a:after {
    transform: rotate(-180deg);
}

.sidebar__submenu {
    display: none;
    list-style-type: none;
    padding: 5px 0 0 10px;
    margin: 0;
}

.sidebar_static .sidebar__submenu {
    display: block;
}

.open {
  display: block;
}

.open .sidebar__submenu {
  display: block;
}

#mysidebar {
  /* margin-bottom: 250px; */
  margin-bottom: 50px
}

.sidebar__submenu .sidebar__submenu {
    padding-top: 0px;
}

.sidebar__submenu-item > a {
    display: inline-block;
    font-size: 14px;
    color: #00122C;
    letter-spacing: -0.26px;
    line-height: 16px;
    text-decoration: none;
    padding: 10px 0;
}

.sidebar__submenu-item > a:hover {
    color: #0066FF;
}

.sidebar__submenu-item.active > a {
    color: #0066FF;
}

.sidebar__submenu-item_parent > a:after {
    content: '';
    display: inline-block;
    width: 7px;
    height: 7px;
    background: url('../images/icons/dropdown.svg');
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 5px;
}

.sidebar_static .sidebar__submenu-item_parent > a:after,
.sidebar_static .sidebar__item_parent > a:after {
    display: none;
}

.sidebar__item_submenu-parent.active > a:after {
    transform: rotate(-180deg);
}

.sidebar__btns.sticky {
    width: 260px;
    position: fixed;
    top: 125px;
}

.sidebar__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 28px;
    border-radius: 10px;
    text-decoration: none !important;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    box-sizing: border-box;
    margin: 0 0 15px 0;
    border: 2px solid rgba(0,102,255,0.1);
    color: #0066ff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sidebar__btn:hover {
    border: 2px solid rgba(0,102,255,0.5);
}

.sidebar__btn-icon {
    display: inline-block;
    margin-right: 5px;
    width: 16px;
    height: 16px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.sidebar__btn-icon_github {
    background-image: url('../images/icons/github.svg');
}

.sidebar__btn-icon_telegram {
    background-image: url('../images/icons/telegram.svg');
}

#toc {
    margin-bottom: 50px;
}

#toc a {
    color: #0066FF;
    text-decoration: none;
}

#toc a:hover {
    text-decoration: underline;
}

#toc ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: -0.3px;
}

#toc ul li {
    padding-bottom: 0px;
}

#toc > ul > li {
    position: relative;
    padding-left: 30px;
}

#toc > ul > li::before {
    content: '';
    display: block;
    background: #00122c;
    width: 6px;
    height: 6px;
    position: absolute;
    left: 15px;
    top: 12px;
    border: none;
    border-radius: 0px;
}

#toc ul ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.29;
    letter-spacing: -0.4px;
}

#toc ul ul > li {
    position: relative;
    padding-left: 20px;
}

#toc ul ul > li::before {
    content: '';
    display: block;
    background: #00122c;
    width: 8px;
    height: 1px;
    position: absolute;
    left: 5px;
    top: 15px;
    border: none;
    border-radius: 0px;
}

#toc ul ul ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.67;
    letter-spacing: -0.4px;
}

#toc ul ul ul li {
    position: relative;
    padding-left: 20px;
}

#toc ul ul ul li::before {
    content: '';
    display: block;
    background: #00122c;
    width: 6px;
    height: 1px;
    position: absolute;
    left: 7px;
    top: 15px;
    border: none;
    border-radius: 0px;
}

.docs b, .docs strong {
    font-weight: 600;
}

.docs p, .docs ol, .docs ul {
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    /* opacity: 0.7;
    color: #00122c; */
    color: #00122c;
}

.docs p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.3px;
}

.docs ul p, .docs ol p {
    font-size: 14px;
}

.docs ul, .docs ol {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: -0.3px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    /* color: #00122c; */
}

.docs ul li {
    padding-bottom: 10px;
    padding-left: 30px;
    position: relative;
}

.docs ol li {
    padding-bottom: 10px;
    margin-left: 30px;
}

.docs ul li:last-child, .docs ol li:last-child {
    padding-bottom: 0px;
}

.docs ul ol, .docs ol ul, .docs ul ul, .docs ol ol {
    padding-top: 10px;
}

.docs ul > li::before {
    content: '';
    display: block;
    background: #0066FF;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    position: absolute;
    left: 15px;
    top: 8px;
}

.docs ol {
    list-style-type: decimal;
}

.docs ul ul > li::before, .docs ol ol > li::before {
    content: '';
    display: block;
    border: 1px solid #0066FF;
    background: transparent;
    width: 5px;
    height: 5px;
    border-radius: 6px;
    position: absolute;
    left: 15px;
    top: 6px;
}

.docs ul ul ul li::before, .docs ol ol ol li::before {
    content: '';
    display: block;
    background: #0066FF;
    width: 4px;
    height: 4px;
    position: absolute;
    left: 15px;
    top: 8px;
}

.docs ul li > p:first-child, .docs ol li > p:first-child {
    margin-top: 0px;
}

.docs ul li > p:last-child, .docs ol li > p:last-child {
    margin-bottom: 0px;
}

.docs ul li pre, .docs ol li pre {
    margin: 5px 0 10px 0px;
}

.docs h1, .docs h2, .docs h3, .docs h4, .docs h5, .docs h6 {
    margin-bottom: 15px;
    margin-top: 30px;
}

.docs h1 {
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #00122c;
}

.docs h1.docs__title {
    /* font-size: 72px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    letter-spacing: normal;
    color: #00122c; */
    margin-top: 0px;
}

.docs h2 {
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #00122c;
}

.docs h3 {
    font-size: 21px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    color: #0066FF;
}

.docs h4 {
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    color: #00122c;
}

.docs h5 {
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    color: #0066FF;
}

.docs h6 {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    color: #00122c;
}

.docs a {
    color: #0066FF;
    text-decoration: none;
}

.docs a:hover {
    text-decoration: underline;
}

.docs hr {
    margin: 25px 15px;
    border: none;
    border-top: 1px solid #eef2ff;
}

.docs__outdated {
    display: none;
    background: #0066FF;
    padding: 15px;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: -0.3px;
    line-height: 24px;
    border-radius: 10px;
    margin-bottom: 50px;
}

.docs__outdated.active {
    display: block;
}

.docs__outdated a {
    color: #fff;
    text-decoration: underline;
}

.docs__outdated a:hover {
    text-decoration: none;
}

.docs code {
    padding: 2px 4px;
    font-size: 90%;
    background: #eef2ff;
    white-space: nowrap;
    border-radius: 4px;
}

.docs pre {
    border: 2px solid #eef2ff;
    border-radius: 4px;
    padding: 10px;
    overflow-x: auto;
    margin: 5px 0 25px 0px;
    display: block;
    font-size: 13px;
    line-height: 1.428571429;
    word-break: break-all;
    word-wrap: break-word;
}

.docs pre code {
    padding: 0;
    font-size: 100%;
    background: transparent;
    white-space: pre;
    border-radius: 0px;
}

.docs .filesused {
    display: inline-block;
    padding: 25px 35px 25px 25px;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0 5px 40px 0 rgba(0,18,44,0.1);
    margin: 1em 0;
}

.docs .filesused p:first-child {
    margin-top: 0px;
}

.docs .details {
    margin-bottom: 10px;
}

.docs .details .details__summary::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url('../images/icons/dropdown.svg');
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 5px;
}

.docs .details.active .details__summary::before {
    transform: rotate(-180deg);
}

.docs .details .details__content {
    display: none;
}

.docs .details.active .details__content {
    display: block;
}

.docs blockquote {
    margin: 20px 0;
    padding: 5px 20px;
    border-left: 4px solid #0066FF;
}

.docs .expand {
    margin: 20px 0;
    padding: 5px 20px;
    border-left: 4px solid #eef2ff;
}

.docs .expand .expand-click {
    padding-top: 15px;
}

.docs .snippetcut__raw {
    display: none;
}

.docs .snippetcut {
    margin-top: 10px;
}

.docs .snippetcut .snippetcut__title {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.docs .snippetcut .snippetcut__title .snippetcut__title-name {
    font-size: 75%;
    font-family: monospace, monospace;
    color: #0066FF;
    white-space: nowrap;
    margin-right: auto;
}

.docs .snippetcut .snippetcut__title .snippetcut__title-name-text {
    font-size: 75%;
    font-family: monospace, monospace;
    color: #000000;
    white-space: nowrap;
    margin-right: auto;
}

.docs .snippetcut .snippetcut__title .snippetcut__title-btn {
    display: inline-block;
    padding: 2px 5px;
    margin-left: 5px;
    border-radius: 5px;
    text-decoration: none !important;
    font-size: 60%;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    box-sizing: border-box;
    border: 2px solid rgba(0,102,255,0.1);
    color: #939fb1;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.docs .snippetcut .snippetcut__title .snippetcut__title-btn:hover {
    border: 2px solid #939fb1;
    background-color: #939fb1;
    color: white;
}

.docs .snippetcut_limited pre.highlight {
    max-height: 200px;
    display: block;
}

.docs .anchorjs-link:hover {
    text-decoration: none;
}

.docs table {
    width: 100%;
    border-spacing: 0;
    border: none;
    border-collapse: collapse;
}

.docs table th, .docs table td {
    padding: 0 10px;
}

.docs table thead tr th {
    text-align: left;
    background: #0066FF;
    color: #fff;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.3px;
    padding: 0 10px;
}

.docs table thead tr th:first-child {
    border-top-left-radius: 10px;
}

.docs table thead tr th:last-child {
    border-top-right-radius: 10px;
}

.docs table tbody tr td {
    padding: 8px 10px;
    border-bottom: 2px solid #eef2ff;
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.3px;
}

.docs table tbody tr td:last-child {
    border-right: 2px solid #eef2ff;
}

.docs table tbody tr td:first-child {
    border-left: 2px solid #eef2ff;
}

.docs img {
    max-width: 100%;
}

.docs .clickable-header {
    cursor: pointer;
}

.docs a.anchorjs-link {
    font-family: anchorjs-icons;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 0.375em;
}

.docs .nav-btn-list {
    display: flex;
}

.docs .nav-btn {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none !important;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    box-sizing: border-box;
    margin: 10px;
    margin-left: 0;
    border: 2px solid rgba(0,102,255,0.1);
    color: #0066ff;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.docs .nav-btn:hover {
    border: 2px solid rgba(0,102,255,0.5);
}

.action-toast {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 25px;
    border-radius: 15px;
    background: #0066FF;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 5px 40px 0 rgba(0,18,44,0.1);
}
