.header {
    height: 90px;
    width: 100%;
    z-index: 5;
    top: 0px;
    position: sticky;
    background: transparent;
    box-shadow: 0 10px 40px 0 rgba(0,18,44,0.0);
    transition: all 0.3s ease-out;    
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .header {
        position: fixed;
    }
    .header-dummy {
        height: 90px;
    }
}

.header_active {    
    background: #fff;
    box-shadow: 0 10px 40px 0 rgba(0,18,44,0.1);
}

.header_search {
    background: #fff;
    transition-duration: 0s;
    box-shadow: 0 10px 40px 0 rgba(0,18,44,0.0);
}

.header__content {
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.header__logo {
    width: 134.2px;
    height: 56.3px;
    object-fit: contain;
    background-color: #0066ff;
}

.header__menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    position: relative;
    top: -10px;
    opacity: 0;
    transition: all 0.5s ease-out;
}

.header__menu.header__menu_active {
    opacity: 1;
}

.header__menu-item {
    margin-right: 36px;
    position: relative;
}

.header__menu-icon {
    margin-right: 24px;
    position: relative;
    top: 5px;
}

.header__menu-icon a {
    display: inline-block;
    width: 24px;
    height: 24px;
}

.header__menu-icon a:hover {
    filter: brightness(0);
}

.header__menu-icon_search {
    margin-right: 0px;
    margin-left: 16px;
}

.header__menu-icon_search a {
    filter: brightness(0);
}

.header__menu-icon_search a:hover {
    filter: brightness(1);
}

.header__menu-item a, .header__menu-item span.header__menu-item-static {
    color: #000;
    text-decoration: none;
}

.header__menu-item a:hover {
    color: #0066FF;
}

.header__menu-item_active a {
    color: #0066FF;
}

.header__menu-item_parent > a, .header__menu-item span.header__menu-item-static {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.header__menu-item_parent > a:after {
    content: '';
    width: 10px;
    height: 10px;
    background: url('../images/icons/dropdown.svg');
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 5px;
}

.header__menu-item-extra {
    color: #939fb1;
    margin-left: 7px;
}

.header__menu-item a:hover .header__menu-item-extra {
    color: #0066FF;
}

.header__submenu-container {
    display: none;
    position: absolute;
    left: -8px;
    top: 10px;
    z-index: 1000;
    padding-top: 10px;
    min-width: 100%;
}

.header__submenu {
    float: left;
    box-sizing: border-box;
    list-style-type: none;
    padding: 10px;
    margin: 0;
    min-width: 100%;
    background: #FFFFFF;
    box-shadow: 0 10px 40px 0 rgba(0,18,44,0.1);
    border-radius: 10px;
}

.header__submenu-item a {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    color: #00122C;
    letter-spacing: -0.26px;
    /* line-height: 24px; */
    margin: 10px 0;
}

.header__submenu-item:first-child a {
    margin-top: 0px;
}

.header__submenu-item:last-child a {
    margin-bottom: 0px;
}

.header__submenu-item a:hover {
    color: #0066FF;
}

.header__submenu-item-channel {
}

.header__submenu-item-release {
    color: #939fb1;
}

.header__submenu-item a:hover .header__submenu-item-release {
    color: #0066FF;
}

.header__menu-item:hover .header__submenu-container {
    display: block;
}

.topsearch {
    display: none;
    z-index: 4;
    width: 100%;
    background: #fff;
    box-shadow: 0 10px 40px 0 rgba(0,18,44,0.1);
    position: fixed;
    top: 90px;
}

.topsearch_active {
    display: block;
}

.topsearch__form {
    display: flex;
    padding: 20px 0;
    position: relative;
}

.topsearch__btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 38px;
    filter: brightness(0);
}

.topsearch__btn:hover {
    filter: brightness(1);
}

.topsearch__btn:focus {
    outline: none;
}

.topsearch__input {
    flex: 1;
}