body {
    margin: 0;
    min-width: 1260px;
    overflow-y: scroll;
}

.page {
    /* font-family: 'Work Sans', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    line-height: 1.16;
}

html, body, .page {
    height: 100%;
}

.page__content {
    min-height: 100%;
    padding-bottom: 138px;
    margin-bottom: -138px;
    box-sizing: border-box;
}

.page__container {
    width: 1160px;
    margin: 0 auto;
}

.page__btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 56px;
    border-radius: 15px;
    text-decoration: none !important;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
}

.page__btn .page__icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 15px;
}

.page__btn_b {
    background-color: #0066ff;
    color: #fff;
}

.page__btn_b:hover {
    color: #0066ff;
    background-color: #fff;
}

.page__btn_w {
    background-color: #ffffff;
    color: #0066ff;
}

.page__btn_w:hover{
    color: #ffffff;
    background-color: #0066ff;
}

.page__btn_w:hover .page__icon  {
    filter: brightness(0) invert(100%);
}

.page__btn_o {
    box-sizing: border-box;
    border: 2px solid rgba(0,102,255,0.1);
    color: #0066ff;
}

.page__btn_o:hover {
    border: 2px solid rgba(0,102,255,0.5);
}

.page__icon {
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.page__icon_slack {
    background-image: url('../images/icons/slack.svg');
}

.page__icon_telegram {
    background-image: url('../images/icons/telegram.svg');
}

.page__icon_twitter {
    background-image: url('../images/icons/twitter.svg');
}

.page__icon_github {
    background-image: url('../images/icons/github.svg');
}

.page__icon_search {
    background-image: url('../images/icons/search.svg');
}

.page__icon_rss {
    background-image: url('../images/icons/rss.svg');    
}

.page__icon_block-title {
    width: 20px;
    height: 20px;
    position: relative;
    top: 2px;
}

.page__icon_text {
    width: 14px;
    height: 14px;
    position: relative;
    top: 2px;
}

.page__icon_link:hover {
    filter: brightness(0);
}

.page__input {
    padding: 0 24px;
    margin: 0;
    box-sizing: border-box;
    height: 56px;
    border-radius: 15px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 56px;
    letter-spacing: -0.3px;
    background: #f7f9ff;
    color: #00122c;
    border: 2px solid rgba(0,102,255,0);
    outline: none;
}

.page__input:hover {
    border: 2px solid rgba(0,102,255,0.4);
}

.page__input:focus, .page__input:active {
    border: 2px solid rgba(0,102,255,1);
}

.page__input::placeholder {
    color: rgba(0, 18, 44, 0.3);
}

.page__icon_heart {
    background-image: url('../images/icons/heart.png');
}

.presentation {
    position: relative;
}

.presentation__container {
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.presentation__bg {
    z-index: 1;
    position: absolute;
    right: 55%;
    top: 50%;
    margin-top: -800px;
    width: 1591px;
    height: 1901px;
    background-repeat: no-repeat;
    background-image: url('../images/backgrounds/presentation.svg');
}

.presentation__row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: flex-start;
}

.presentation__row-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.presentation__row-item_scheme {
    transform: skew(-10deg);
    padding-bottom: 50px;
}

.presentation__title {
    font-size: 55px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 65px;
    letter-spacing: normal;
    color: #00122c;
    margin: 0 0 30px 0;
}

.presentation__subtitle {
    font-size: 26px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #0066FF;
    margin: 0 0 25px 0;
}

.presentation__features {
    margin: 0;
    padding: 0;
    list-style-type: none;    
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #00122c;   
}

.presentation__features li {
    margin-bottom: 25px;
}

.presentation__features li:last-child {
    margin-bottom: 0;
}

/* Animation, initial state */

#presentation-scheme {
    width: 580px;
}

#presentation-scheme g {
    opacity: 1;
}

#presentation-scheme #scheme_step,
#presentation-scheme #scheme_step_2,
#presentation-scheme #scheme_step_3,
#presentation-scheme #scheme_step_connector,
#presentation-scheme #scheme_step_connector_2,
#presentation-scheme #scheme_step_connector_3,
#presentation-scheme #scheme_smart_icon_check,
#presentation-scheme #scheme_smart_icon_check_2 {
    opacity: 0;
}

.welcome {
    min-height: 850px;
    background-position: top right;
    background-repeat: no-repeat;
    background-image: url('../images/backgrounds/welcome.svg');
}

.welcome__content {
    padding-top: 75px;
}

.welcome__title {
    font-size: 55px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 65px;
    letter-spacing: normal;
    color: #00122c;
    margin: 0 0 30px 0;
}

.welcome__title span {
    color: #0066FF;
}

.welcome__subtitle {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 26px;
    letter-spacing: normal;
    color: #00122c;
    max-width: 650px;   
}

/* .welcome__search {
    margin-top: 50px;
    width: 420px;
    position: relative;
}

.welcome__search-input {
    width: 420px;
    padding-right: 60px;
}

.welcome__search-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 18px;
    filter: brightness(0);
}

.welcome__search-btn:hover {
    filter: brightness(1);
}

.welcome__search-btn:focus {
    outline: none;
} */

.welcome__extra-content {
    flex: 1;
    margin-top: 30px;
}

.welcome__extra-content-title {
    padding-top: 30px;
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #00122c;
}

.welcome__extra-content-text {
    margin-top: 31px;
    opacity: 0.7;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.3px;
    color: #00122c;
}

@media (max-width: 1300px) {
    .welcome {
        background-size: 50%;
        background-position: right 100px;
    }
}

@media (max-width: 1700px) {
    .welcome__extra-content-title span {
        display: block;
    }
}

.intro {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* justify-content: space-between; */
    justify-content: center;
}

.intro__image {
    width: 564px;
    height: 381px;
    background-repeat: no-repeat;
    background-image: url('../images/backgrounds/intro.svg');
}

.intro-extra {
    list-style-type: none;
    margin: 50px 0 0 0;
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.intro-extra__item {
    width: 560px;
}

.intro-extra__item-title {
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #00122c;
    margin-bottom: 17px;
}

.intro-extra__item-text {
    opacity: 0.7;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.3px;
    color: #00122c;
    margin: 0 auto;
}

.intro__list, .intro__list ul {
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.intro__list li {
    width: 100%;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.3px;
    color: #00122c;
    margin-top: 15px;
    padding-left: 20px;
    position: relative;
}

.intro__list > li::before {
    content: '';
    display: block;
    background: #0066FF;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    position: absolute;
    left: 5px;
    top: 9px;
}

.intro__list li:first-child {
    margin-top: 0px;
}

.intro__list ul > li::before {
    content: '';
    display: block;
    border: 1px solid #0066FF;
    background: transparent;
    width: 5px;
    height: 5px;
    border-radius: 6px;
    position: absolute;
    left: 5px;
    top: 9px;
}

ul.intro__list ul li:first-child {
    margin-top: 15px;
}

ul.intro__list_c2 {
    display: block;
}

ul.intro__list_c2 > li {
    float: left;
    width: 50%;
    box-sizing: border-box;
}

.intro__btn {
    width: 380px;
    margin: 35px auto 0;
}

.stats {
    padding-top: 150px;
    position: relative;
}

.stats::before {
    content: '';
    display: block;
    width: 636px;
    height: 818px;
    position: absolute;
    top: -60px;
    left: 0px;
    background-repeat: no-repeat;
    background-image: url('../images/backgrounds/stats.svg');
    background-position: center;
    z-index: 1;
}

.stats__content {
    position: relative;
    z-index: 2;
    height: 342px;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0 10px 40px 0 rgba(0,18,44,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stats__content::after {
    content: '';
    display: block;
    width: 168px;
    height: 134px;
    position: absolute;
    top: -20px;
    right: -20px;
    background-repeat: no-repeat;
    background-image: url('../images/illustrations/stats.svg');
    z-index: 3;
}

.stats__title {
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #00122c;
    margin-bottom: 55px;
}

.stats__list {
    box-sizing: border-box;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0 40px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.stats__list-item {
      width: 280px;
}

.stats__list-item-num {
    color: #0066FF;
    font-size: 56px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    margin-bottom: 10px;
}

.stats__list-item-title {
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.3px;
    text-align: center;
    color: #00122c;
    font-size: 24px;
    font-weight: bold;
}

.stats__list-item-subtitle {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.3px;
    text-align: center;
    color: #00122c;
}

.features {
    position: relative;
    padding-top: 136px;
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-position: center 15px;
    background-image: url('../images/backgrounds/features.svg');
    z-index: 2;
}

.features__title {
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #00122c;
    margin-bottom: 80px;
}

.features__list {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.features__list-item {
    width: 360px;
    margin-bottom: 20px;
}

.features__list-item-icon {
    display: block;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto 20px;
}

.features__list-item-icon_lifecycle {
    background-image: url('../images/icons/feature-lifecycle.svg');
}

.features__list-item-icon_easy {
    background-image: url('../images/icons/feature-easy.svg');
}

.features__list-item-icon_config {
    background-image: url('../images/icons/feature-config.svg');
}

.features__list-item-icon_size {
    background-image: url('../images/icons/feature-size.svg');
}

.features__list-item-icon_ansible {
    background-image: url('../images/icons/feature-ansible.svg');
}

.features__list-item-icon_debug {
    background-image: url('../images/icons/feature-debug.svg');
}

.features__list-item-icon_kubernetes {
    background-image: url('../images/icons/feature-kubernetes.svg');
}

.features__list-item-title {
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #00122c;
    margin-bottom: 17px;
}

.features__list-item-title span {
    color: #0066FF;
}

.features__list-item-text {
    width: 280px;
    margin: 0 auto;
    opacity: 0.7;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.3px;
    text-align: center;
    color: #00122c;
}

.roadmap {
    padding-top: 200px;
}

.roadmap__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.roadmap__title {
    position: relative;
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #00122c;
    margin-bottom: 25px;
}

.roadmap__title::before {
    content: '';
    position: absolute;
    z-index: 3;
    top: -120px;
    left: 50%;
    margin-left: -58px;
    width: 100px;
    height: 130px;
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url('../images/illustrations/goals.svg');
}

.roadmap__goals {
    width: 560px;
}

.roadmap__goals-title {
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #00122c;
    margin-bottom: 20px;
}

.roadmap__goals-content {
    position: relative;
    z-index: 2;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0 10px 40px 0 rgba(0,18,44,0.1);
    padding: 40px 60px 40px 40px;
}

.roadmap__goals-list {
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.roadmap__goals-list-item {
    width: 100%;
    opacity: 0.7;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.3px;
    color: #00122c;
    margin-top: 15px;
    padding-left: 20px;
    position: relative;
}

.roadmap__goals-list-item::before {
    content: '';
    display: block;
    background: #0066FF;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    position: absolute;
    left: 5px;
    top: 8px;
}

.roadmap__goals-list-item:first-child {
    margin-top: 0px;
}

.roadmap__steps {
    width: 560px;
}

.roadmap__steps-title {
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #00122c;
    margin-bottom: 20px;
}

.roadmap__steps-content {
    position: relative;
    z-index: 2;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0 10px 40px 0 rgba(0,18,44,0.1);
    padding: 40px;
}

.roadmap__steps-list {
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.roadmap__steps-list-item {
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}

.roadmap__steps-list-item_closed {
    text-decoration: line-through;
}

.roadmap__steps-list-item_closed .roadmap__steps-list-item-issue,
.roadmap__steps-list-item_closed .roadmap__steps-list-item-text {
    opacity: 0.3;
}

.roadmap__steps-list-item_closed::after {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 10px;
    position: relative;
    top: -5px;
    align-self: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../images/icons/check.svg');
}

.roadmap__steps-list-item:first-child {
    margin-top: 0px;
}

.roadmap__steps-list-item-issue {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.3px;
    color: #00122c;
    text-decoration: none;
    opacity: 0.4;
    width: 55px;
}

.roadmap__steps-list-item-issue:hover {
    text-decoration: underline;
}

.roadmap__steps-list-item-text {
    opacity: 0.7;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.3px;
    color: #00122c;
}

.roadmap__steps-list-item-text a {
    color: #0166FF;
    text-decoration: none;
}

.roadmap__steps-list-item-text a:hover {
    text-decoration: underline;
}

.community {
    position: relative;
}

.community__content {
    position: relative;
    z-index: 2;
    height: 342px;
    background: #0066FF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.community::before {
    content: '';
    display: block;
    width: 835px;
    height: 1122px;
    position: absolute;
    top: -320px;
    right: 0px;
    background-repeat: no-repeat;
    background-image: url('../images/backgrounds/community.svg');
    background-position: center;
    z-index: 1;
}

.community__title {
    width: 100%;
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-bottom: 21px;
    position: relative;
}

.community__title::before {
    content: '';
    display: block;
    width: 133px;
    height: 206px;
    position: absolute;
    left: 62px;
    top: -90px;
    background-repeat: no-repeat;
    background-image: url('../images/illustrations/community.svg');
    background-position: center;
}

.community__title::after {
    content: '';
    display: block;
    width: 133px;
    height: 140px;
    position: absolute;
    right: -50px;
    top: -140px;
    background-repeat: no-repeat;
    background-image: url('../images/illustrations/community2.svg');
    background-position: center;
}

.community__subtitle {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.3px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 64px;
}

.community__btns {
    display: flex;
    align-items: center;
    justify-content: center;
}

.community__btn {
    margin: 0 20px;
}

.documentation {
    position: relative;
    z-index: 3;
    padding-top: 155px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.documentation__image {
    width: 260px;
    height: 147px;
    background-repeat: no-repeat;
    background-position: top right;
    background-image: url('../images/illustrations/documentation.svg');
}

.documentation__info {
    width: 560px;
}

.documentation__info-title {
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #00122c;
    margin-bottom: 25px;
}

.documentation__info-text {
    opacity: 0.7;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.3px;
    color: #00122c;
}

.documentation__btn {
    margin-bottom: 25px;
}

.footer {
    width: 1160px;
    margin: 0 auto;
    padding-top: 36px;
    padding-bottom: 66px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
}

.footer__credits {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: -0.3px;
    color: #00122c;
}

.footer__credits a {
    color: #0166FF;
    text-decoration: none;
}

.footer__credits a:hover {
    text-decoration: underline;
}

.footer__credits .page__icon_heart {
    display: inline-block;
    width: 12px;
    height: 12px;
}

.footer__github {
    margin-left: 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer__github-icon {
    display: block;
    width: 32px;
    height: 32px;
    filter: brightness(0);
}

.footer__github-counter {
    margin-left: 16px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 15px;
    border-radius: 10px;
    border: solid 2px #f3f8ff;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #00122c;
    text-decoration: none;
}

.footer__github-counter::after {
    content: '';
    height: 32px;
    width: 32px;
    margin-left: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../images/icons/star.svg');
    border-left: solid 2px #f3f8ff;
}

.footer__github-counter:hover, .footer__github-counter:hover::after {
    border-color: rgba(0,102,255,0.5);
}

.footer__github-counter:hover {
    text-decoration: none;
}

.footer__gen {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: -0.3px;
    color: #00122c;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    background: #eef2ff;
    white-space: nowrap;
    border-radius: 4px;
}

.popup {
    display: none;
    z-index: 1000;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(50,50,50,0.7);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.popup.active {
    display: flex;
}

.popup__content {
    position: relative;
    box-sizing: border-box;
    width: 600px;
    border-radius: 10px;
    padding: 50px;
    background: #0166FF;
    box-shadow: 0 10px 40px 0 rgba(0,18,44,0.1);
    text-align: center;
    color: #fff;
}

.popup__content:before {
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    background-image: url('../images/icons/slack.svg');
    background-size: contain;
    filter: brightness(0) invert(100%);
    position: absolute;
    top: -30px;
    left: -30px;
}

.popup__content:after {
    content: '';
    display: block;
    width: 133px;
    height: 140px;
    position: absolute;
    right: -60px;
    bottom: -100px;
    background-repeat: no-repeat;
    background-image: url(../images/illustrations/community2.svg);
    background-position: center;
}

.popup__text {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    margin-bottom: 15px;
}

.popup__title {
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-bottom: 30px;
}

.popup__subtitle {
    font-size: 20px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-bottom: 5px;
}

.popup__title a {
    color: #FFF;
    opacity: 0.7;
    text-decoration: none;
}

.popup__title a:hover {
    text-decoration: underline;
}

.popup__btn {
    width: auto;
    margin-bottom: 30px;
}

.popup__close {
    position: absolute;
    top: 12.5px;
    right: 12.5px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}

.popup__close:hover {
    color: #000;
}