.page_installation {
  margin-top: 30px;
}

.installation-selector-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.installation-selector-row > * {
  margin-right: 40px;
}

.installation-selector__title {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: rgba(0, 18, 44, 0.25);
}

.installation-instruction__title {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 60px;
  margin: 45px 0;
}

.installation-instruction__title span {
  color: #0066FF;
}

.installation-instruction__tab-content {
  display: none;
}

.installation-instruction__tab-content.active {
  display: block;
}

.installation-channels {
  margin-top: 100px;
}

.installation-channels__title {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 60px;
  margin: 45px 0;
}

.installation-channels__channels {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.installation-channels__channel {
}

.installation-channels__channel-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  color: #0066FF;
  margin-bottom: 5px;
  position: relative;
}

.installation-channels__channel-title::after {
  content: '';
  display: block;
  height: 50px;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  right: calc(100% + 10px);
  top: 0px;
}

.installation-channels__channel_beta .installation-channels__channel-title::after {
  width: 85px;
  background-image: url('../images/installation/arrow-beta.svg');
}

.installation-channels__channel_ea .installation-channels__channel-title::after {
  width: 110px;
  background-image: url('../images/installation/arrow-ea.svg');
}

.installation-channels__channel_stable .installation-channels__channel-title::after {
  width: 33px;
  background-image: url('../images/installation/arrow-stable.svg');
}

.installation-channels__channel_rocksolid .installation-channels__channel-title::after {
  width: 75px;
  background-image: url('../images/installation/arrow-rocksolid.svg');
}

.installation-channels__channel-description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: rgba(0, 18, 44, 0.75);
}

.installation-channels__info {
  margin-top: 130px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.installation-channels__info-versions {
  width: 436px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #00122C;
  position: relative;
}

.installation-channels__info-versions::before {
  content: '';
  z-index: -1;
  position: absolute;
  left: -120px;
  top: -82px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('../images/installation/bg-versions.svg');
  width: 544px;
  height: 459px;
}

.installation-channels__info-versions p {
  margin: 0 0 20px 0;
}

.installation-channels__info-versions a {
  color: #0066FF;
  text-decoration: none;
}

.installation-channels__info-versions a:hover {
  text-decoration: underline;
}

.installation-channels__info-guarantees {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.installation-channels__info-guarantee {
  box-sizing: border-box;
  width: 600px;
  padding: 30px 40px;
  background: #FFFFFF;
  box-shadow: 0px 0px 45px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #00122C;
}

.installation-channels__info-guarantee i {
  font-style: normal;
  color: #0066FF;
}

.installation-channels__info-guarantee:first-child {
  margin-right: 40px;
  margin-bottom: 50px;
}

.installation-compatibility {
  margin-top: 100px;
}

.installation-compatibility__title {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 60px;
  margin: 45px 0;
}

.installation-releases {
  margin-top: 100px;
}

.installation-releases__header {
  margin: 25px 0 15px;
  padding-bottom: 5px;
  border-bottom: 2px solid rgba(0,102,255,0.1);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.installation-releases__title {
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0066FF;
  text-decoration: none;
}

.installation-releases__title a:hover {
  text-decoration: underline;
}

.installation-releases__date {
  font-size: 12px;
  opacity: 0.7;
}

.installation-releases__body {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.3px;
}

.installation-releases__body h1 {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #00122c;
}

.installation-releases__body h2 {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #00122c;
}

.installation-releases__body h3 {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  color: #00122c;
}

.installation-releases__body h4 {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  color: #0066FF;
}

.installation-releases__body h5 {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #00122c;
}

.installation-releases__body ul {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.3px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  opacity: 0.7;
}

.installation-releases__body p {
  opacity: 0.7;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.3px;
  color: #00122c;
}

.installation-releases__body ul li {
  padding-bottom: 10px;
  padding-left: 30px;
  position: relative;
}

.installation-releases__body ul li:last-child {
  padding-bottom: 0px;
}

.installation-releases__body ul > li::before {
  content: '';
  display: block;
  background: #0066FF;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  position: absolute;
  left: 15px;
  top: 7px;
}

.installation-releases__body img {
  max-width: 100%;
}

.installation-releases__body code {
  padding: 2px 4px;
  font-size: 90%;
  background: #eef2ff;
  white-space: nowrap;
  border-radius: 4px;
}

.installation-releases__body pre {
  border: 2px solid #eef2ff;
  border-radius: 4px;
  padding: 10px;
  overflow-x: auto;
  margin: 5px 0 25px 0px;
  display: block;
  font-size: 13px;
  line-height: 1.428571429;
  word-break: break-all;
  word-wrap: break-word;
}

.installation-releases__body pre code {
  padding: 0;
  font-size: 100%;
  background: transparent;
  white-space: pre;
  border-radius: 0px;
}

.installation-releases__btn {
  display: inline-block;
  height: 28px;
  padding: 0 15px;
  border-radius: 10px;
  text-decoration: none !important;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  box-sizing: border-box;
  margin: 0 10px 10px 0;
}

.installation-releases__btn:not(.active) {
  border: 2px solid rgba(0,102,255,0.1);
  color: #0066ff;
}

.installation-releases__btn:not(.active):hover {
  border: 2px solid rgba(0,102,255,0.5);
}

.installation-releases__btn.active {
  border: 2px solid #0066FF;
  background-color: #0066FF;
  color: white;
}

.installation-releases__block-title {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 60px;
  margin: 45px 0;
}

.installation-releases__block-subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: rgba(0, 18, 44, 0.25);
}

.installation-releases__menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: -12.5px -12.5px 50px;
  width: calc(100% + 25px);
}

.installation-releases__menu-item {
  box-sizing: border-box;
  flex: 1 1 calc(50% - 25px);
  border-radius: 10px;
  background: #FFFFFF;
  box-shadow: 0 3px 15px 0 rgba(0,18,44,0.1);
  padding: 25px;
  margin: 12.5px;
}

.installation-releases__menu-item:first-child {
  flex-basis: 100%;
}

.installation-releases__menu-item-header {
  display: flex;
  align-items: flex-end;
  margin-bottom: 15px;
}

.installation-releases__menu-item-versions {
  margin: 0 0 0 auto
}

.installation-releases__menu-item-version {
  opacity: 0.3;
  margin-left: 15px;
  font-size: 12px;
  line-height: normal;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #00122c;
}

.installation-releases__menu-item-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #0066FF;
}

.installation-releases__menu-item-description {
  opacity: 0.7;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.3px;
  color: #00122c;
}

.installation-releases__menu-item .installation-releases__btn {
  margin: 0 0 0 auto;
  align-self: flex-end;
}

.installation-releases__info {
  opacity: 0.7;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.3px;
  color: #00122c;
  background: #eef2ff;
  padding: 25px;
  box-sizing: border-box;
  margin-bottom: 25px;
}

.installation-releases__info a {
  color: #0066FF;
  text-decoration: none;
}

.installation-releases__info a:hover {
  text-decoration: underline;
}

.installation-releases__info p:first-child {
  margin-top: 0px;
}

.installation-releases__info p:last-child {
  margin-bottom: 0px;
}

.installation-releases__info_notification {
  background: #dedede;
}

.installation-releases__info-text {
  opacity: 0.7;
  font-size: 12px;
}