.publications__lng {
  margin-top: 35px;
}

.publications__year {
  font-size: 36px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  color: #00122c;
  margin: 30px 0 20px; 
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(0,102,255,0.1);
  clear: both;
}

.publications__list {
  margin: 0 -20px;
}

.publications__sizer {
  width: 50%;
}

.publications__post {
  float: left;
  width: 50%;
}

.publications__post-content {
  overflow: hidden;
  margin: 0 20px 40px;
  border-radius: 10px;
  background: #FFFFFF;
  box-shadow: 0 10px 40px 0 rgba(0,18,44,0.1);
}

.publications__post-head {
  width: 100%;
  height: 300px;
  box-sizing: border-box;
  background-size: cover;
  background-position: center top;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #000;
}

.publications__post-head-content {
  padding: 20px;
}

.publications__post-body {
  border-top: 2px solid rgba(0,102,255,0.1);
  padding: 20px 20px 10px 20px;
}

.publications__post-date {
  display: inline-block;
  font-weight: 200;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 5px;
  background: #0066ff;
  color: #fff;
}

.publications__post-title {
  font-size: 28px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  margin-bottom: 20px;
}

.publications__post-comment {
  font-size: 16px;
  line-height: 1.5;
}

.publications__post-comment p {
  margin: 0 0 10px 0;
}

.publications__post-comment a {
  color: #0066FF;
  text-decoration: none;
}

.publications__post-comment a:hover {
  text-decoration: underline;
}

.publications__post-btns {
  margin-top: 20px;
}

.publications__btn {
  display: inline-block;
  height: 28px;
  padding: 0 15px;
  border-radius: 10px;
  text-decoration: none !important;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  box-sizing: border-box;
  margin: 0 10px 10px 0;
}

.publications__btn:not(.active) {
  border: 2px solid rgba(0,102,255,0.1);
  color: #0066ff;
}

.publications__btn:not(.active):hover {
  border: 2px solid rgba(0,102,255,0.5);
}

.publications__btn.active {
  border: 2px solid #0066FF;
  background-color: #0066FF;
  color: white;
}