.page_releases {
  margin-top: 50px;
}

.releases {
  color: #00122c;
}

.releases a {
  color: #0066FF;
  text-decoration: none;
}

.releases a:hover {
  text-decoration: underline;
}

.releases .tabs {
  margin: 0 -10px 10px -10px;
}

.releases .tabs__btn {
  margin: 0 10px;
}

.releases__header {
  margin: 25px 0 15px;
  padding-bottom: 5px;
  border-bottom: 2px solid rgba(0,102,255,0.1);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.releases__title {
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

.releases__date {
  font-size: 12px;
  opacity: 0.7;
}

.releases__body {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.3px;
}

.releases__body h1 {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #00122c;
}

.releases__body h2 {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #00122c;
}

.releases__body h3 {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  color: #00122c;
}

.releases__body h4 {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  color: #0066FF;
}

.releases__body h5 {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #00122c;
}

.releases__body ul {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.3px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  opacity: 0.7;
}

.releases__body p {
  opacity: 0.7;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.3px;
  color: #00122c;
}

.releases__body ul li {
  padding-bottom: 10px;
  padding-left: 30px;
  position: relative;
}

.releases__body ul li:last-child {
  padding-bottom: 0px;
}

.releases__body ul > li::before {
  content: '';
  display: block;
  background: #0066FF;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  position: absolute;
  left: 15px;
  top: 7px;
}

.releases__body img {
  max-width: 100%;
}

.releases__body code {
  padding: 2px 4px;
  font-size: 90%;
  background: #eef2ff;
  white-space: nowrap;
  border-radius: 4px;
}

.releases__body pre {
  border: 2px solid #eef2ff;
  border-radius: 4px;
  padding: 10px;
  overflow-x: auto;
  margin: 5px 0 25px 0px;
  display: block;
  font-size: 13px;
  line-height: 1.428571429;
  word-break: break-all;
  word-wrap: break-word;
}

.releases__body pre code {
  padding: 0;
  font-size: 100%;
  background: transparent;
  white-space: pre;
  border-radius: 0px;
}

.releases__btn {
  display: inline-block;
  height: 28px;
  padding: 0 15px;
  border-radius: 10px;
  text-decoration: none !important;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  box-sizing: border-box;
  margin: 0 10px 10px 0;
}

.releases__btn:not(.active) {
  border: 2px solid rgba(0,102,255,0.1);
  color: #0066ff;
}

.releases__btn:not(.active):hover {
  border: 2px solid rgba(0,102,255,0.5);
}

.releases__btn.active {
  border: 2px solid #0066FF;
  background-color: #0066FF;
  color: white;
}

.releases__block-title {
  font-size: 24px;
  font-weight: normal;
  line-height: 1;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #00122c;
  margin-bottom: 25px;
}

.releases__block-subtitle {
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #00122c;
  margin-bottom: 5px;
  opacity: 0.5;
}

.releases__menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: -12.5px -12.5px 50px;
  width: calc(100% + 25px);
}

.releases__menu-item {
  box-sizing: border-box;
  flex: 1 1 calc(50% - 25px);
  border-radius: 10px;
  background: #FFFFFF;
  box-shadow: 0 3px 15px 0 rgba(0,18,44,0.1);
  padding: 25px;
  margin: 12.5px;
}

.releases__menu-item:first-child {
  flex-basis: 100%;
}

.releases__menu-item-header {
  display: flex;
  align-items: flex-end;
  margin-bottom: 15px;
}

.releases__menu-item-versions {
  margin: 0 0 0 auto
}

.releases__menu-item-version {
  opacity: 0.3;
  margin-left: 15px;
  font-size: 12px;
  line-height: normal;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #00122c;
}

.releases__menu-item-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #0066FF;
}

.releases__menu-item-description {
  opacity: 0.7;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.3px;
  color: #00122c;
}

.releases__menu-item .releases__btn {
  margin: 0 0 0 auto;
  align-self: flex-end;
}

.releases__info {
  opacity: 0.7;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.3px;
  color: #00122c;
  background: #eef2ff;
  padding: 25px;
  box-sizing: border-box;
  margin-bottom: 25px;
}

.releases__info a {
  color: #0066FF;
  text-decoration: none;
}

.releases__info a:hover {
  text-decoration: underline;
}

.releases__info p:first-child {
  margin-top: 0px;
}

.releases__info p:last-child {
  margin-bottom: 0px;
}

.releases__info_notification {
  background: #dedede;
}

.releases__info-text {
  opacity: 0.7;
  font-size: 12px;
}

