/* colors */
div.stage-base { background-color: #cfe2f3; }
div.signature { background-color: #6fa8dc; }
div.signature > div { background-color: #9fc5e8; }
div.context > div { background-color: #6998e2; }
div.context { background-color: #a4c2f4; }
div.dappfile { background-color: #efefef; }
div.dappfile > div { background-color: #cccccc; }
div.signature > div:hover, div.context > div:hover { background-color: #3d85c6; }
div.dappfile span:hover { background-color: yellow; }

/* display */
div.stage { display: flex; }
div.stage > div { display: inline-block; }
div.stage-base > div div { display: none; }
div.stage-base:hover > div div { display: inline-block; }
div.signature > div, div.context > div { display: inline-block; }

/* other */
div.stage { font-size: 10px; }

div.stage div {
  border: 1px solid;
  padding: 5px 10px;
  margin-bottom: 5px;
}

div.stage > div {
  width: 50%;
  margin: 0;
}

div.signature > div, div.context > div {
  margin-right: 5px;
  padding: 2px 10px;
}

div.dappfile {
  float: right;
}
