.tabs {
  display: flex;
}

.tabs__btn {
  display: inline-block;
  height: 28px;
  padding: 0 15px;
  border-radius: 10px;
  text-decoration: none !important;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  box-sizing: border-box;
  margin: 10px;
  margin-left: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tabs__btn:not(.active) {
  border: 2px solid rgba(0,102,255,0.1);
  color: #0066ff;
}

.tabs__btn:not(.active):hover {
  border: 2px solid rgba(0,102,255,0.5);
}

.tabs__btn.active {
  border: 2px solid #0066FF;
  background-color: #0066FF;
  color: white;
}

.tabs__content {
  display: none;
}

.tabs__content.active {
  display: block;
}

.page__btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 56px;
  border-radius: 15px;
  text-decoration: none !important;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}
