name: xxxxx(internal)

on:
  workflow_call:
    inputs:
      env:
        required: true
        type: string
      persistent:
        default: false
        type: string
      runner:
        default: ubuntu-latest-4-cores
        type: string
    secrets:
      kubeConfig:
        required: true

defaults:
  run:
    shell: bash

jobs:
  _:
    runs-on: ${{ inputs.runner }}
    timeout-minutes: 60
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set dynamic WERF_* env vars
        run: |
          if ${{ inputs.persistent }}; then
            cat >> "$GITHUB_ENV" <<EOF
          WERF_RELEASE=werfio-$(echo $GITHUB_REF | cut -d\/ -f 3 | sed 's/\+/-plus-/' | sed 's/\_/-u-/')-${{ inputs.env }}
          WERF_SET_GITHUB_REF=global.github_ref=${{ github.ref }}
          EOF
          else
            cat >> "$GITHUB_ENV" <<EOF
          WERF_RELEASE=werfio-documentation-${{ inputs.env }}
          WERF_SET_GITHUB_REF=global.github_ref=main
          EOF
          fi

      - name: Install werf
        uses: werf/actions/install@v2

      - name: Deploy
        run: |
          source "$(werf ci-env github --as-file)"
          werf converge
        env:
          WERF_NAMESPACE: werfio-${{ inputs.env }}
          WERF_DIR: docs
          WERF_LOG_VERBOSE: on
          WERF_REPO: ghcr.io/${{ github.repository_owner }}/werfio
          WERF_ENV: ${{ inputs.env }}
          WERF_KUBE_CONFIG_BASE64: ${{ secrets.kubeConfig }}
