name: xxxxx(internal)

on:
  workflow_call:
    inputs:
      forceSkip:
        default: false
        type: string

defaults:
  run:
    shell: bash

env:
  DEBIAN_FRONTEND: "noninteractive"
  TASK_X_REMOTE_TASKFILES: 1

jobs:
  _:
    if: inputs.forceSkip == 'false'
    runs-on: [self-hosted, regular]
    timeout-minutes: 30
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          cache: false
          go-version-file: go.mod

      - name: Install ginkgo
        run: task --yes -p deps:install:ginkgo

      - name: Install golangci-lint
        run: task --yes -p deps:install:golangci-lint

      - name: Lint
        run: task --yes -p lint
