name: xxxxx(internal)

on:
  workflow_call:
    inputs:
      packages:
        description: Comma-separated package paths to test
        type: string
      excludePackages:
        description: Comma-separated package paths to exclude from testing
        type: string
      coverage:
        default: false
        type: string
      fetchDepth:
        default: 1
        type: number

defaults:
  run:
    shell: bash

env:
  DEBIAN_FRONTEND: "noninteractive"
  WERF_TEST_K8S_DOCKER_REGISTRY_INSECURE: "false"
  TASK_X_REMOTE_TASKFILES: 1

jobs:
  _:
    runs-on: [self-hosted, regular]
    timeout-minutes: 60
    steps:
      - name: Set up JOB_ID
        run: |
          echo "JOB_ID=${GITHUB_RUN_ID}-${RANDOM}" >> "$GITHUB_ENV"

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: ${{ inputs.fetchDepth }}

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          cache: false
          go-version-file: go.mod

      - name: Set up prebuilt werf test binary
        uses: ./.github/actions/set-up-prebuilt-werf-test-binary
        with:
          coverage: ${{ inputs.coverage }}

      - name: Install ginkgo
        run: task --yes -p deps:install:ginkgo

      - name: Set up git config
        uses: ./.github/actions/set-up-git-config

      - name: Install ginkgo
        run: task --yes -p deps:install:ginkgo

      - name: Setup environment
        run: task --yes test:setup:environment

      - name: Test
        run: |
          export KUBECONFIG="$GITHUB_WORKSPACE/werf.kubeconfig-${JOB_ID}"
          export WERF_TEST_K8S_DOCKER_REGISTRY="localhost:$(docker inspect kind-registry-${JOB_ID} --format '{{(index (index .NetworkSettings.Ports "5000/tcp") 0).HostPort}}')"
          task --yes -p test:integration paths="$(echo ${{ inputs.packages }} | tr , ' ')" -- --flake-attempts=3 --keep-going --skip-package '${{ inputs.excludePackages }}' --skip "Buildah"
          echo loadavg: $(cat /proc/loadavg)
        env:
          GOCOVERDIR: ${{ env.WERF_TEST_COVER_DIR }}
          LD_LIBRARY_PATH: "/usr/local/lib/libgost"
          # TODO: remove after implementing `werf ci-env --disable-docker-config-copy`
          WERF_DOCKER_CONFIG: ${{ runner.temp }}/werf-docker-config-${{ github.run_id }}

      - name: Upload coverage artifact
        uses: ./.github/actions/upload-coverage-artifact
        with:
          coverage: ${{ inputs.coverage }}

      - name: Cleanup environment
        if: always()
        run: task --yes test:cleanup:environment
