name: xxxxx(internal)

on:
  workflow_call:
    inputs:
      packages:
        description: Comma-separated package paths to test
        type: string
      excludePackages:
        description: Comma-separated package paths to exclude from testing
        type: string
      coverage:
        default: false
        type: string
      forceSkip:
        default: false
        type: string

defaults:
  run:
    shell: bash

env:
  DEBIAN_FRONTEND: "noninteractive"
  TASK_X_REMOTE_TASKFILES: 1

jobs:
  _:
    if: inputs.forceSkip == 'false'
    runs-on: [self-hosted, regular]
    timeout-minutes: 60
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          cache: false
          go-version-file: go.mod

      - name: Set up prebuilt werf test binary
        uses: ./.github/actions/set-up-prebuilt-werf-test-binary
        with:
          coverage: ${{ inputs.coverage }}

      - name: Set up git config
        uses: ./.github/actions/set-up-git-config

      - name: Install ginkgo
        run: task --yes -p deps:install:ginkgo

      - name: Test
        run: |
          if ${{ inputs.coverage }}; then
            task --yes -p test:unit paths="$(echo ${{ inputs.packages }} | tr , ' ')" -- --coverprofile="$(openssl rand -hex 6)-coverage.out" --keep-going --skip-package '${{ inputs.excludePackages }}'
            mv *-coverage.out "$WERF_TEST_COVERAGE_DIR/"
          else
            task --yes -p test:unit paths="$(echo ${{ inputs.packages }} | tr , ' ')" -- --keep-going --skip-package '${{ inputs.excludePackages }}'
          fi
          echo loadavg: $(cat /proc/loadavg)
        env:
          LD_LIBRARY_PATH: "/usr/local/lib/libgost"

      - name: Upload coverage artifact
        uses: ./.github/actions/upload-coverage-artifact
        with:
          coverage: ${{ inputs.coverage }}
