name: docs:deploy:latest

on:
  push:
    branches:
      - main
  repository_dispatch:
    types: ["docs:deploy:latest"]
  workflow_dispatch:

jobs:
  deploy-prod:
    uses: ./.github/workflows/_docs_deploy.yml
    with:
      persistent: true
      env: production
      runner: prod-github-runner-0
    secrets:
      kubeConfig: ${{ secrets.KUBECONFIG_BASE64_PRODUCTION }}

  notify:
    if: always()
    needs:
      - deploy-prod
    uses: werf/common-ci/.github/workflows/notification.yml@main
    secrets:
      loopNotificationGroup: ${{ secrets.LOOP_NOTIFICATION_GROUP }}
      webhook: ${{ secrets.LOOP_NOTIFICATION_WEBHOOK }}
      notificationChannel: ${{ secrets.LOOP_NOTIFICATION_CHANNEL }}
