name: docs:deploy:tag

on:
  push:
    tags:
      - 'v*'
      - '!v1.1.*'
      - '!v1.0.*'
  repository_dispatch:
    types: ["docs:deploy:tag"]
  workflow_dispatch:

jobs:
  deploy-prod:
    uses: ./.github/workflows/_docs_deploy.yml
    with:
      persistent: true
      env: production
      kubeContext: prod

  deploy-test:
    uses: ./.github/workflows/_docs_deploy.yml
    with:
      persistent: true
      env: test
      kubeContext: dev

  notify:
    if: always()
    needs:
    - deploy-prod
    - deploy-test
    uses: ./.github/workflows/_notification.yml
    secrets:
      mentionGroupID: ${{ secrets.SLACK_MENTION_GROUP_ID }}
      webhook: ${{ secrets.SLACK_WEBHOOK }}
