name: docs:registry-cleanup

on:
  schedule:
    - cron: "0 8 */3 * *"
  repository_dispatch:
    types: ["docs:registry-cleanup"]
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  cleanup:
    runs-on: prod-github-runner-0
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install werf
        uses: werf/actions/install@v2
        with:
          channel: alpha

      - name: Cleanup
        run: |
          . $(werf ci-env github --as-file)
          werf cleanup
        env:
          WERF_DIR: docs
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WERF_REPO_GITHUB_TOKEN: ${{ secrets.WERF_IN_IMAGE_CLEANUP_GHCR }}
          WERF_KUBE_CONFIG_BASE64: ${{ secrets.KUBECONFIG_BASE64_DEV }}
