name: issues:delayed-auto-close

on:
  schedule:
    - cron: "0 8 * * *"
  issue_comment:
    types:
      - created
  issues:
    types:
      - labeled
  pull_request_target:
    types:
      - labeled
  repository_dispatch:
    types: ["issues:delayed-auto-close"]
  workflow_dispatch:

jobs:
  manage:
    runs-on: [self-hosted, regular]
    timeout-minutes: 20
    steps:
      - uses: tiangolo/issue-manager@0.4.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          config: >
            {
                "solved": {
                    "delay": "604800",
                    "message": "This issue appears to be resolved, so we’re closing it for now. If you encounter further issues, please feel free to reopen or create a new issue at any time.",
                    "remove_label_on_comment": true,
                    "remove_label_on_close": true
                },
                "awaiting response": {
                    "delay": "604800",
                    "message": "As we haven’t received additional information, we’re closing this issue for now. If there’s more to add, feel free to reopen or open a new issue whenever needed.",
                    "remove_label_on_comment": true,
                    "remove_label_on_close": true
                }
            }

  notify:
    if: github.event_name == 'schedule' && always()
    needs: manage
    uses: werf/common-ci/.github/workflows/notification.yml@main
    secrets:
      loopNotificationGroup: ${{ secrets.LOOP_NOTIFICATION_GROUP }}
      webhook: ${{ secrets.LOOP_NOTIFICATION_WEBHOOK }}
      notificationChannel: ${{ secrets.LOOP_NOTIFICATION_CHANNEL }}
