name: release:trdl-publish
on:
  push:
    branches:
      - main
    paths:
      - trdl_channels.yaml
  repository_dispatch:
    types: ["release:trdl-publish"]
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  publish:
    name: Publish release channels using trdl server
    runs-on: ubuntu-22.04
    outputs:
      publish_status: ${{ steps.job-conclusion.outputs.status }}
    steps:
      - name: Publish without retry
        id: publish
        uses: werf/trdl-vault-actions/publish@main
        with:
          vault-addr: ${{ secrets.TRDL_VAULT_ADDR }}
          project-name: werf
          vault-auth-method: approle
          vault-role-id: ${{ secrets.TRDL_VAULT_ROLE_ID }}
          vault-secret-id: ${{ secrets.TRDL_VAULT_SECRET_ID }}

      - name: notify
        if: ${{ failure() && steps.publish.conclusion == 'failure' }}
        uses: mattermost/action-mattermost-notify@master
        with:
          MATTERMOST_WEBHOOK_URL: ${{ secrets.LOOP_NOTIFICATION_WEBHOOK }}
          MATTERMOST_CHANNEL: ${{ secrets.LOOP_NOTIFICATION_CHANNEL }}
          TEXT: |
            ${{ secrets.LOOP_NOTIFICATION_GROUP }} task sign pls

      - name: Publish with retry
        if: ${{ failure() && steps.publish.conclusion == 'failure' }}
        uses: werf/trdl-vault-actions/publish@main
        id: publish-after-sign
        with:
          vault-addr: ${{ secrets.TRDL_VAULT_ADDR }}
          project-name: werf
          vault-auth-method: approle
          vault-role-id: ${{ secrets.TRDL_VAULT_ROLE_ID }}
          vault-secret-id: ${{ secrets.TRDL_VAULT_SECRET_ID }}
          retry: true

      - name: set job conclusion
        if: ${{ failure() && steps.publish-after-sign.conclusion == 'success' }}
        id: job-conclusion
        run: echo "status=success" >> $GITHUB_OUTPUT

  deploy_channels_cm_prod:
    if: ${{ failure() && needs.publish.outputs.publish_status == 'success' }}
    name: Deploy trdl_channels.yaml to production
    needs: publish
    runs-on: ubuntu-latest-4-cores
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install werf
        uses: werf/actions/install@v2

      - name: Converge
        run: |
          . $(werf ci-env github --as-file)
          werf converge
        env:
          WERF_NAMESPACE: "werfio-production"
          WERF_DIR: "ci"
          WERF_ENV: production
          WERF_KUBE_CONFIG_BASE64: ${{ secrets.KUBECONFIG_BASE64_PROD }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish_werf_images:
    if: ${{ failure() && needs.publish.outputs.publish_status == 'success' }}
    name: Publish images with werf by trdl group and channel
    strategy:
      matrix:
        dest-registry:
          - ghcr.io
          - registry-write.werf.io
        app:
          - werf
          - werf-argocd-cmp-sidecar

    needs: publish
    runs-on: ubuntu-latest-16-cores
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install werf
        uses: werf/actions/install@v2
        with:
          channel: alpha

      - if: matrix.dest-registry == 'registry-write.werf.io'
        name: Login to werf registry
        uses: docker/login-action@v2
        with:
          registry: registry-write.werf.io
          username: ${{ secrets.WERF_REGISTRY_USERNAME }}
          password: ${{ secrets.WERF_REGISTRY_PASSWORD }}

      - name: Login to ghcr.io
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ secrets.WERF_IN_IMAGE_REPO_LOGIN }}
          password: ${{ secrets.WERF_IN_IMAGE_REPO_PASSWORD }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: linux/amd64, linux/arm64

      - name: Build and publish werf images
        working-directory: ./scripts/werf-in-image
        run: ./build-and-publish.sh ${{ matrix.dest-registry }} ${{ matrix.app }}
        env:
          DOCKER_BUILDKIT: 1

  notify:
    if: always()
    needs:
      - publish
      - deploy_channels_cm_prod
      - publish_werf_images
    uses: werf/common-ci/.github/workflows/notification.yml@main
    secrets:
      loopNotificationGroup: ${{ secrets.LOOP_NOTIFICATION_GROUP }}
      webhook: ${{ secrets.LOOP_NOTIFICATION_WEBHOOK }}
      notificationChannel: ${{ secrets.LOOP_NOTIFICATION_CHANNEL }}
