name: release:trdl-release
on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+*"
  repository_dispatch:
    types: ["release:trdl-release"]
  workflow_dispatch:

jobs:
  release:
    name: Perform werf release using trdl server
    runs-on: ubuntu-22.04
    steps:
      - name: Notify
        uses: mattermost/action-mattermost-notify@master
        with:
          MATTERMOST_WEBHOOK_URL: ${{ secrets.LOOP_NOTIFICATION_WEBHOOK }}
          MATTERMOST_CHANNEL: ${{ secrets.LOOP_NOTIFICATION_CHANNEL }}
          TEXT: |
            ${{ secrets.LOOP_NOTIFICATION_GROUP }} [${{ github.workflow }}](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}) task sign pls

      - name: Release with retry
        uses: werf/trdl-vault-actions/release@main
        with:
          vault-addr: ${{ secrets.TRDL_VAULT_ADDR }}
          project-name: werf
          git-tag: ${{ github.ref_name }}
          vault-auth-method: approle
          vault-role-id: ${{ secrets.TRDL_VAULT_ROLE_ID }}
          vault-secret-id: ${{ secrets.TRDL_VAULT_SECRET_ID }}

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - name: Get version from CHANGELOG.md
        id: get_version
        run: |
          VERSION=$(grep -m1 '^#\+ \[[0-9]\+\.[0-9]\+\.[0-9]\+\]' CHANGELOG.md | sed -E 's/^#+ \[([0-9]+\.[0-9]+\.[0-9]+)\].*/\1/')
          echo "version=$VERSION" >> $GITHUB_OUTPUT
      - name: Generate notes.md
        id: notes
        run: |
          VERSION="${{ steps.get_version.outputs.version }}"
          echo "## Changelog" > notes.md
          awk -v version="$VERSION" '
            $0 ~ "^#+ \\[" version "\\]" {capture=1; next}
            capture && $0 ~ "^#+ \\[" && $0 !~ "^#+ \\[" version "\\]" {exit}
            capture {print}
          ' CHANGELOG.md >> notes.md

          cat <<EOF >> notes.md
          ## Installation

          To install \`werf\` we strongly recommend following [these instructions](https://werf.io/getting_started/).

          Alternatively, you can download \`werf\` binaries from here:
          * [Linux amd64](https://tuf.werf.io/targets/releases/$VERSION/linux-amd64/bin/werf) ([PGP signature](https://tuf.werf.io/targets/signatures/$VERSION/linux-amd64/bin/werf.sig))
          * [Linux arm64](https://tuf.werf.io/targets/releases/$VERSION/linux-arm64/bin/werf) ([PGP signature](https://tuf.werf.io/targets/signatures/$VERSION/linux-arm64/bin/werf.sig))
          * [macOS amd64](https://tuf.werf.io/targets/releases/$VERSION/darwin-amd64/bin/werf) ([PGP signature](https://tuf.werf.io/targets/signatures/$VERSION/darwin-amd64/bin/werf.sig))
          * [macOS arm64](https://tuf.werf.io/targets/releases/$VERSION/darwin-arm64/bin/werf) ([PGP signature](https://tuf.werf.io/targets/signatures/$VERSION/darwin-arm64/bin/werf.sig))
          * [Windows amd64](https://tuf.werf.io/targets/releases/$VERSION/windows-amd64/bin/werf.exe) ([PGP signature](https://tuf.werf.io/targets/signatures/$VERSION/windows-amd64/bin/werf.exe.sig))

          These binaries were signed with PGP and could be verified with the [werf PGP public key](https://werf.io/werf.asc). For example, \`werf\` binary can be downloaded and verified with \`gpg\` on Linux with these commands:
          \`\`\`shell
          curl -sSLO "https://tuf.werf.io/targets/releases/$VERSION/linux-amd64/bin/werf" -O "https://tuf.werf.io/targets/signatures/$VERSION/linux-amd64/bin/werf.sig"
          curl -sSL https://werf.io/werf.asc | gpg --import
          gpg --verify werf.sig werf
          \`\`\`
          EOF
      - name: Create release
        env:
          GH_TOKEN: ${{ secrets.RELEASE_PLEASE_TOKEN }}
        run: |
          gh release create "v${{ steps.get_version.outputs.version }}" \
            --title "v${{ steps.get_version.outputs.version }}" \
            --prerelease \
            --notes-file notes.md

  notify:
    if: always()
    needs: release
    uses: werf/common-ci/.github/workflows/notification.yml@main
    secrets:
      loopNotificationGroup: ${{ secrets.LOOP_NOTIFICATION_GROUP }}
      webhook: ${{ secrets.LOOP_NOTIFICATION_WEBHOOK }}
      notificationChannel: ${{ secrets.LOOP_NOTIFICATION_CHANNEL }}
