name: release:release-please
on:
  push:
    branches:
      - "main"
      - "[0-9]+.[0-9]+.[0-9]+*"
      - "[0-9]+.[0-9]+"
      - "[0-9]+"
  repository_dispatch:
    types: ["release:release-please"]
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  release-please:
    runs-on: [self-hosted, regular]
    steps:
      - name: Release
        id: release
        uses: googleapis/release-please-action@v4
        with:
          target-branch: ${{github.ref_name}}
          release-type: go
          token: ${{ secrets.RELEASE_PLEASE_TOKEN }}
  notify:
    if: failure()
    needs: release-please
    uses: werf/common-ci/.github/workflows/notification.yml@main
    secrets:
      loopNotificationGroup: ${{ secrets.LOOP_NOTIFICATION_GROUP }}
      webhook: ${{ secrets.LOOP_NOTIFICATION_WEBHOOK }}
      notificationChannel: ${{ secrets.LOOP_NOTIFICATION_CHANNEL }}
