name: release:registry-cleanup
on:
  schedule:
    - cron: "0 8 */3 * *"
  repository_dispatch:
    types: ["release:registry-cleanup"]
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  cleanup:
    name: cleanup werf-storage
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install werf
        uses: werf/actions/install@v2
        with:
          channel: alpha

      - name: Cleanup
        run: |
          cd scripts/werf-in-image/
          . $(werf ci-env github --as-file)
          werf cleanup
        env:
          WERF_REPO: ghcr.io/werf/werf-storage
          WERF_WITHOUT_KUBE: true
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WERF_REPO_GITHUB_TOKEN: ${{ secrets.WERF_IN_IMAGE_CLEANUP_GHCR }}

  notify:
    if: always()
    needs:
      - cleanup
    uses: werf/common-ci/.github/workflows/notification.yml@main
    secrets:
      loopNotificationGroup: ${{ secrets.LOOP_NOTIFICATION_GROUP }}
      webhook: ${{ secrets.LOOP_NOTIFICATION_WEBHOOK }}
      notificationChannel: ${{ secrets.LOOP_NOTIFICATION_CHANNEL }}
