name: release:publish-binary

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+*"

env:
  DEBIAN_FRONTEND: "noninteractive"
  TASK_X_REMOTE_TASKFILES: 1
  LD_LIBRARY_PATH: "/usr/local/lib/libgost"

jobs:
  publish:
    name: Build and publish binary
    runs-on: [self-hosted, regular]
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          cache: true
          go-version-file: go.mod

      - name: Build binary (linux/amd64)
        run: |
          VERSION=${GITHUB_REF_NAME#v}
          task --yes build:dist:linux:amd64 version="$VERSION"
          file dist/$VERSION/linux-amd64/bin/werf | grep -Eq "x86-64.*statically linked.*Linux"

      - name: Upload binary to GitHub Release
        env:
          GH_TOKEN: ${{ secrets.RELEASE_PLEASE_TOKEN }}
        run: |
          VERSION=${GITHUB_REF_NAME#v}
          echo "Uploading werf to release ${GITHUB_REF_NAME}"
          gh release upload "${GITHUB_REF_NAME}" dist/$VERSION/linux-amd64/bin/werf --name "werf"

  notify:
    if: always()
    needs: publish
    uses: werf/common-ci/.github/workflows/notification.yml@main
    secrets:
      loopNotificationGroup: ${{ secrets.LOOP_NOTIFICATION_GROUP }}
      webhook: ${{ secrets.LOOP_NOTIFICATION_WEBHOOK }}
      notificationChannel: ${{ secrets.LOOP_NOTIFICATION_CHANNEL }}
