name: test:pr

on:
  pull_request:
  repository_dispatch:
    types: ["test:pr"]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.run_id }}
  cancel-in-progress: true

jobs:
  detect-changes:
    runs-on: ubuntu-22.04
    timeout-minutes: 10
    outputs:
      workflow_proceed: ${{ steps.changes.outputs.workflow_proceed }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Detect changes
      uses: dorny/paths-filter@v2
      id: changes
      with:
        filters: |
          workflow_proceed:
            - '.github'
            - '**/*.go'
            - 'go.mod'

  lint:
    needs: detect-changes
    uses: ./.github/workflows/_lint.yml
    with:
      forceSkip: ${{ github.event_name == 'pull_request' && needs.detect-changes.outputs.workflow_proceed == 'false' }}

  unit:
    needs: detect-changes
    uses: ./.github/workflows/_test_unit.yml
    with:
      forceSkip: ${{ github.event_name == 'pull_request' && needs.detect-changes.outputs.workflow_proceed == 'false' }}

  notify:
    if: (github.event_name != 'pull_request' || needs.detect-changes.outputs.workflow_proceed == 'true') && failure()
    needs:
    - lint
    - unit
    uses: ./.github/workflows/_notification.yml
    secrets:
      mentionGroupID: ${{ secrets.SLACK_MENTION_GROUP_ID }}
      webhook: ${{ secrets.SLACK_WEBHOOK }}
