name: test:daily

on:
  schedule:
  - cron:  '0 8 * * *'
  repository_dispatch:
    types: ["test:daily"]
  workflow_dispatch:

jobs:
  lint:
    uses: ./.github/workflows/_lint.yml

  unit:
    uses: ./.github/workflows/_test_unit.yml
    with:
      coverage: true

  integration_main:
    uses: ./.github/workflows/_test_integration_regular.yml
    with:
      packages: integration/suites
      excludePackages: integration/suites/deploy,integration/suites/cleanup_after_converge,integration/suites/helm/deploy_rollback,integration/suites/bundles,integration/suites/ansible,integration/suites/build/stapel_image/git
      fetchDepth: 0  # Git history as fixtures for tests.
      coverage: true
    secrets: inherit

  integration_git:
    uses: ./.github/workflows/_test_integration_regular.yml
    with:
      packages: integration/suites/build/stapel_image/git
      coverage: true
    secrets: inherit

  integration_ansible:
    uses: ./.github/workflows/_test_integration_regular.yml
    with:
      packages: integration/suites/ansible
      coverage: true
    secrets: inherit

  integration_per-k8s:
    uses: ./.github/workflows/_test_integration_per-k8s-version.yml
    with:
      coverage: true
    secrets: inherit

  integration_per-cr:
    uses: ./.github/workflows/_test_integration_per-container-registry.yml
    with:
      coverage: true
    secrets: inherit

  integration_per-k8s-and-cr:
    uses: ./.github/workflows/_test_integration_per-k8s-version-and-container-registry.yml
    with:
      coverage: true
    secrets: inherit

  coverage_report:
    uses: ./.github/workflows/_coverage_report.yml
    needs:
    - lint
    - unit
    - integration_main
    - integration_git
    - integration_ansible
    - integration_per-k8s
    - integration_per-cr
    - integration_per-k8s-and-cr
    secrets: inherit

  notify:
    if: always()
    uses: ./.github/workflows/_final_notification.yml
    needs: coverage_report
    secrets: inherit
