name: test:daily

on:
  schedule:
    - cron: "0 8 * * *"
  repository_dispatch:
    types: ["test:daily"]
  workflow_dispatch:

jobs:
  lint:
    uses: ./.github/workflows/_lint.yml

  unit:
    uses: ./.github/workflows/_test_unit.yml
    with:
      coverage: true

  e2e_simple_per-k8s-version:
    uses: ./.github/workflows/_test_e2e_per-k8s-version.yml
    with:
      scope: simple
      coverage: true
    secrets: inherit

  e2e_complex_per-k8s-version:
    uses: ./.github/workflows/_test_e2e_per-k8s-version.yml
    with:
      scope: complex
      timeout: 120
      coverage: true
    secrets: inherit

  e2e_extra_per-k8s-version:
    uses: ./.github/workflows/_test_e2e_per-k8s-version.yml
    with:
      scope: extra
      coverage: true
    secrets: inherit

  integration_main:
    uses: ./.github/workflows/_test_integration_regular.yml
    with:
      packages: test/legacy_e2e/suites
      excludePackages: test/legacy_e2e/suites/deploy,test/legacy_e2e/suites/cleanup_after_converge,test/legacy_e2e/suites/helm/deploy_rollback,test/legacy_e2e/suites/bundles,test/legacy_e2e/suites/ansible,test/legacy_e2e/suites/build/stapel_image/git,test/legacy_e2e/suites/docs
      fetchDepth: 0 # Git history as fixtures for tests.
      coverage: true
    secrets: inherit

  integration_git:
    uses: ./.github/workflows/_test_integration_regular.yml
    with:
      packages: test/legacy_e2e/suites/build/stapel_image/git
      coverage: true
    secrets: inherit

  integration_ansible:
    uses: ./.github/workflows/_test_integration_regular.yml
    with:
      packages: test/legacy_e2e/suites/ansible
      coverage: true
    secrets: inherit

  integration_per-k8s:
    uses: ./.github/workflows/_test_integration_per-k8s-version.yml
    with:
      coverage: true
    secrets: inherit

  #  integration_per-cr:
  #    uses: ./.github/workflows/_test_integration_per-container-registry.yml
  #    with:
  #      coverage: true
  #    secrets: inherit
  #
  #  integration_per-k8s-and-cr:
  #    uses: ./.github/workflows/_test_integration_per-k8s-version-and-container-registry.yml
  #    with:
  #      coverage: true
  #    secrets: inherit

  coverage_report:
    uses: ./.github/workflows/_coverage_report.yml
    needs:
      - unit
      - integration_main
      - integration_git
      - integration_ansible
      - integration_per-k8s
      #      - integration_per-cr
      #      - integration_per-k8s-and-cr
      - e2e_simple_per-k8s-version
      - e2e_complex_per-k8s-version
      - e2e_extra_per-k8s-version
    secrets: inherit

  notify:
    if: always()
    needs:
      - lint
      - coverage_report
    uses: werf/common-ci/.github/workflows/notification.yml@main
    secrets:
      loopNotificationGroup: ${{ secrets.LOOP_NOTIFICATION_GROUP }}
      webhook: ${{ secrets.LOOP_NOTIFICATION_WEBHOOK }}
      notificationChannel: ${{ secrets.LOOP_NOTIFICATION_CHANNEL }}
