name: test:pr

on:
  pull_request:
  repository_dispatch:
    types: ["test:pr"]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.run_id }}
  cancel-in-progress: true

jobs:
  detect-changes:
    runs-on: [self-hosted, regular]
    timeout-minutes: 10
    permissions:
      pull-requests: read
    outputs:
      workflow_proceed: ${{ steps.changes.outputs.workflow_proceed }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Detect changes
        uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            workflow_proceed:
              - 'go.mod'
              - 'Taskfile.dist.yaml'
              - '.github/**'
              - 'cmd/werf/**'
              - 'pkg/**'
              - 'integration/**'
              - 'scripts/**'
              - 'test/**'

  lint:
    needs: detect-changes
    uses: ./.github/workflows/_lint.yml
    with:
      forceSkip: ${{ github.event_name == 'pull_request' && needs.detect-changes.outputs.workflow_proceed == 'false' }}

  unit:
    needs: detect-changes
    uses: ./.github/workflows/_test_unit.yml
    with:
      excludePackages: cmd/werf/docs
      forceSkip: ${{ github.event_name == 'pull_request' && needs.detect-changes.outputs.workflow_proceed == 'false' }}

  build:
    needs: detect-changes
    if: ${{ !(github.event_name == 'pull_request' && needs.detect-changes.outputs.workflow_proceed == 'false') }}
    runs-on: [self-hosted, regular]
    timeout-minutes: 60
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          cache: true
          go-version-file: go.mod

      - name: Build
        run: task --yes -p build:dev:linux:amd64
        env:
          TASK_X_REMOTE_TASKFILES: 1

  e2e_simple:
    needs: detect-changes
    uses: ./.github/workflows/_test_e2e_regular.yml
    with:
      scope: simple
      forceSkip: ${{ github.event_name == 'pull_request' && needs.detect-changes.outputs.workflow_proceed == 'false' }}
    secrets: inherit

  notify:
    if: |
      (github.event_name == 'pull_request' && github.event.pull_request.draft == false && failure()) ||
      (github.event_name != 'pull_request' && failure())
    needs:
      - lint
      - unit
      - e2e_simple
    uses: werf/common-ci/.github/workflows/notification.yml@main
    secrets:
      loopNotificationGroup: ${{ secrets.LOOP_NOTIFICATION_GROUP }}
      webhook: ${{ secrets.LOOP_NOTIFICATION_WEBHOOK }}
      notificationChannel: ${{ secrets.LOOP_NOTIFICATION_CHANNEL }}
